$blog-date-color: #949494;
$blog-heading-color: #1A1C19;
$blog-description-color: #474747;
.blog-container {
    padding: 100px 20px;
    @media (min-width: $screen-md) {
        padding:100px 0;
    }
}

.blog-list {
    margin-top: 100px;
    padding: 0;
}

.blog-details {
    position: relative;
    position: relative;
    transition: all 0.3s ease-in-out;
    top: 0;
    padding: 20px 0 20px;
    .latest-blog & {
        padding: 20px 0 0 0px;
        @media (min-width: $screen-md) {
            padding:0px 0 0 20px;
        }
        @media (min-width: $screen-lg) {
            padding: 0;
            margin-left: 25px;
        }
    }
}

.post-title {
    margin: 0 0 10px 0;
    color: $blog-heading-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    line-height: 28px;
    .latest-blog & {
        font-size: 16px;
        @media (min-width: $screen-md) {
            font-size: 16px;
        }
        @media (min-width:$screen-lg) {
            font-size: 17px;
        }
    }
}

.excerpt {
    color: $blog-description-color;
    margin: 0;
}

.latest-blog {
    margin-bottom: 15px;
}

//post page grid
.blog-post-main-container {
    @media(min-width: $screen-lg) {
        display: flex;
    }
}

.blog-post {
    @media(min-width: $screen-lg) {
        width: 700px;
        margin-right: auto;
        margin-left: auto;
    }
    @media(min-width: $screen-xl) {
        width: 700px;
        margin-right: auto;
        margin-left: auto;
    }
}

.post-sidebar {
    @media(min-width: $screen-lg) {
        width:250px;
    }
    @media(min-width: $screen-xl) {
        width: 300px;
    }
}

.blog-post-main-container {
    a {
        color: #000;
    }
    pre {
        code {
            font-family: "Source Code Pro", monospace;
            font-size: 14px;
        }
    }
    .container {
        @media (max-width: $screen-md-min) {
            padding:0;
        }
    }
}

.post-sidebar {
    margin-top: 50px;
    border-top: 2px solid #ccc;
    padding-top: 50px;
    @media(min-width: $screen-lg) {
        padding: 0px;
        margin-top: 0;
        border: 0;
    }
    section {
        margin-bottom: 30px;
    }
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: 10px 0;
        }
    }
    a {
        display: block;
        color: #333;
        &:hover {
            text-decoration: underline;
        }
        &.normal-link {
            color: #4a90e2;
        }
    }
}

// blog post
.blog-post {
    p,
    li,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
    }
    h1 {
        margin: 0 0 40px 0;
        font-weight: 600;
        line-height: 36px;
        @media (min-width: $screen-md) {
            font-size: 40px;
            line-height: 46px;
        }
    }
    >p:nth-of-type(1) {
        margin: -30px 0 40px 0;
    }
    h2 {
        font-weight: 600;
        margin: 30px 0;
        line-height: 30px;
    }
    figure {
        position: relative;
        margin-top: 30px;
    }
    h3 {
        font-weight: 600;
    }
    pre {
        overflow-x: scroll;
        padding: 20px;
        border: solid 0.5px gray
    }
    blockquote {
        font-style: italic;
        font-size: 18px;
        line-height: 25px;
        border-left: 4px solid $primary-color;
        padding-left: 30px;
        margin: 30px 30px 30px 0;
        overflow: hidden;
    }
    p {
        line-height: 30px;
    }
    .attribution {
        position: absolute;
        right: 0px;
        bottom: 7px;
        a {
            font-size: 10px;
        }
    }
    #disqus_thread {
        padding-top: 3em;
    }
    .draft-banner {
        height: 2em;
        width: 100%;
        background-color: red;
        color: white;
        padding: 3px;
    }
}

.blog-post-header {
    margin: 10px 0;
    @media (min-width: $screen-lg) {
        margin: 30px 0 0;
    }
    h1 {
        text-transform: uppercase;
        font-size: 25px;
    }
}

.section-title {
    font-size: 23px;
    font-weight: 600;
    margin-top: 0;
    @media (min-width: $screen-lg) {
        margin: 20px 0;
    }
}

.post-date {
    color: $blog-date-color;
    font-size: 13px;
    display: block;
}

.post-author {
    font-weight: 400;
    font-size: 13px;
}

//style expiriments
.post-summary {
    overflow: hidden;
    @media (min-width: $screen-md) {
        border-radius: 5px;
    }
    .post-summary-image {
        border-radius: 5px;
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
        }
    }
    .blog-details {
        background: #fff;
        a {
            text-decoration: none;
        }
    }
    .latest-blog & {
        >.post-link {
            float: left;
            @media (min-width: $screen-md) {
                width: 48%;
            }
            @media (min-width:$screen-xl) {
                width: 66%
            }
        }
        >a {
            display: block;
            overflow: hidden;
        }
        .blog-details {
            float: left;
            @media (min-width: $screen-md) {
                width: 45%;
            }
            @media (min-width:$screen-xl) {
                width: 31%
            }
            .post-title {
                font-size: 24px;
            }
        }
    }
}

.blogs {
    list-style-type: none;
    margin: 0px -20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
        width: 100%;
        border-bottom: 1px dotted #ddd;
        padding: 15px 15px 0;
        border-radius: 5px;
        &:first-child {
            margin-top: 0;
        }
        @media (min-width: $screen-md) {
            width: 48%;
            border-bottom: 5px solid $white;
        }
        @media (min-width:$screen-lg) {
            width: 33%;
        }
        transition:$transition;
        &:hover {
            border-bottom: 5px solid $primary-color;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
            transition: $transition;
        }
    }
}

.blog-list-item {
    @media (min-width: $screen-md) {
        margin-bottom: 30px;
    }
    figure {
        position: relative;
        overflow: hidden;
        background: #000;
        width: 100%;
        margin: 0;
        @media (min-width: $screen-md) {
            display: block;
        }
        @media (min-width:$screen-lg) {}
        @media (min-width:$screen-xl) {}
        img {
            max-width: 100%;
        }
    }
    &.latest-blog {
        // margin-top: 30px;
        // figure {
        //     height: 114px;
        //     @media (min-width: $screen-md) {
        //         height: 197px;
        //     }
        //     @media (min-width:$screen-lg) {
        //         height: 258px;
        //     }
        //     @media (min-width:$screen-xl) {
        //         height: 310px;
        //     }
        // }
    }
}

.blog_index .go,
.blog-post .go {
    text-transform: none;
}

.tags {
    margin-bottom: 0px;
    font-size: 13px;
}

.tag {
    display: inline-block;
    position: relative;
    background: #ccc;
    border-radius: 3px 0 0 3px;
    color: #000;
    padding: 0 20px 0 23px;
    margin-right: 5px;
    text-decoration: none;
    max-width: 520px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    &:before {
        background: #fff;
        border-radius: 10px;
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
    }
    &:after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #ccc;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }
    &:hover {
        background-color: #94399E;
        color: white;
        &:after {
            border-left-color: #94399E;
        }
    }
}

.info_txt {
    font-size: 0.75em;
    text-align: center;
    width: 100%;
    display: block;
}

img {
    width: 100%;
    height: auto;
}

.blog-user-details {
    position: relative;
    h3 {
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        bottom: -14px;
        left: 0;
        padding: 100px 20px 10px;
        width: 100%;
        color: #fff;
        border-radius: 5px;
        background: rgba(8, 8, 8, 0);
        background: -moz-linear-gradient(top, rgba(8, 8, 8, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 8, 8, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
        background: -webkit-linear-gradient(top, rgba(8, 8, 8, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -o-linear-gradient(top, rgba(8, 8, 8, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -ms-linear-gradient(top, rgba(8, 8, 8, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: linear-gradient(to bottom, rgba(8, 8, 8, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#000000', GradientType=0);
    }
    .profile-image {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0 10px 0 0;
    }
}

.blog-archive {
    margin-bottom: 100px;
}