* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #333;
    @media (min-width: $screen-md) {
        font-weight: 400;
    }
    @media (min-width: $screen-xl) {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    &.noscroll {
        overflow: hidden;
    }
}

// grid styles                                                                  
.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    @include grid-container;
    @media (min-width: $screen-sm) {
        max-width: 540px;
        padding: 0 40px;
    }
    @media (min-width: $screen-md) {
        max-width: 720px;
        padding: 0 60px;
    }
    @media (min-width: $screen-lg) {
        max-width: 960px;
        padding: 0;
    }
    @media (min-width: $screen-xl) {
        max-width: 1140px;
    }
}


.main-container a {
    color: $link-color;
    display: inline-block;
    text-decoration: underline;
    &:hover {
        background-color: $primary-color;
        color: #333;
    }
    &.download_plugin {
        text-decoration: none;
    }
}

.tab-container {
    margin-top: 40px;
    margin-bottom: 40px;
    @include clearfix();
}

// marketo form style overrides

.mktoForm {
    width: 100% !important;
    padding: 0px !important;
}

.mktoFieldWrap, .mktoFieldDescriptor{
    width: 100% !important;
}

.mktoForm .mktoFormRow .mktoField {
    clear: both;
    border: 1px solid $border-color;
    border-radius: 3px;
    height: 40px;
    width: 100% !important;

    @media (min-width: $screen-lg) {
        width: 100% !important;
    }
    @media (min-width: $screen-xl) {
        width: 100% !important;
        height: 40px;
    }
}
 

.mktoForm .mktoRequiredField label.mktoLabel {
    font-weight: 400 !important;
}

.mktoForm .mktoRequiredField label.mktoLabel {
    font-weight: 400;
    width: auto !important;
}

.mktoOffset,
.mktoGutter {
    width: 0 !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background: $primary-color !important;
    border: 1px solid $primary-color !important;
    border-radius: 35px;
    color: #333 !important;
    font-weight: bold;
    background-image: none;
}

.mktoButtonWrap.mktoSimple {
    margin-left: 0 !important;
}

.mktoButtonRow{
    margin: 20px 0 !important;
}

.img-resposive {
    width: 100%;
    height: auto;
    margin: 35px auto;
}

.highlight {
    background-color: $highlight-color;
    border-radius: 3px;
    padding: 0px 5px;
    font-family: 'SourceCodePro-Regular';
    font-size: 16px;
}

.img-resposive_sm {
    width: 100%;

    @media (min-width: $screen-md ){
        width: 50%;
    }
}