* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #333;
    @media (min-width: $screen-md) {
        font-weight: 400;
    }
    @media (min-width: $screen-xl) {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    &.noscroll {
        overflow: hidden;
    }
}

p {
    margin: 0 0 10px 0;
}

// grid styls
.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    @include grid-container;
    @media (min-width: $screen-sm) {
        max-width: 540px;
        padding: 0 40px;
    }
    @media (min-width: $screen-md) {
        max-width: 720px;
        padding: 0 60px;
    }
    @media (min-width: $screen-lg) {
        max-width: 960px;
        padding: 0;
    }
    @media (min-width: $screen-xl) {
        max-width: 1140px;
    }
}

.page-header {
    margin: 105px 0 40px;
    @media (min-width: $screen-md) {
        margin: 120px 0 40px;
    }
    h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
        border-bottom: 1px solid $border-color;
        @media (min-width: $screen-md) {
            font-size:24px;
            line-height: 32px;
        }
    }
}

.main-container {
    a {
        color: $link-color;
        display: inline-block;
        text-decoration: none;
        &:hover {
            background-color: $primary-color;
            color: #333;
        }
    }
    a.download_plugin {
        color: #333;
        &:hover {}
    }
}

.tab-container {
    margin-top: 40px;
    margin-bottom: 40px;
    @include clearfix();
}

// marketo form style overrides
.mktoForm {
    width: auto !important;
}

input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    clear: both;
    border: 1px solid $border-color;
    border-radius: 3px;
    @media (min-width: $screen-lg) {
        width: 215px !important;
        height: 40px;
    }
    @media (min-width: $screen-xl) {
        width: 260px !important;
        height: 40px;
    }
}

.mktoForm .mktoRequiredField label.mktoLabel {
    font-weight: 400 !important;
}

.mktoForm .mktoRequiredField label.mktoLabel {
    font-weight: 400;
    width: auto !important;
}

.mktoOffset,
.mktoGutter {
    width: 0 !important;
    display: none;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background: $primary-color !important;
    border: 1px solid $primary-color !important;
    border-radius: 35px;
    color: #333 !important;
    background-image: none;
}

.mktoButtonWrap.mktoSimple {
    margin-left: 0 !important;
}
