//PoppinsLatin Font Import

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


// Open sans font import
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('/assets/vendor/fonts/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('/assets/vendor/fonts/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/assets/vendor/fonts/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/assets/vendor/fonts/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf') format('truetype');
}

// SourceCode Pro font import
@font-face {
    font-family: 'SourceCodePro-Bold';
    src: url('SourceCodePro-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Bold.otf') format('opentype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Bold.woff') format('woff'), url('/assets/vendor/fonts/source-code/SourceCodePro-Bold.ttf') format('truetype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Bold.svg#SourceCodePro-Bold') format('svg');
}

@font-face {
    font-family: 'SourceCodePro-Regular';
    src: url('/assets/vendor/fonts/source-code/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Regular.otf') format('opentype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Regular.woff') format('woff'), url('/assets/vendor/fonts/source-code/SourceCodePro-Regular.ttf') format('truetype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Regular.svg#SourceCodePro-Regular') format('svg');
}

@font-face {
    font-family: 'SourceCodePro-Medium';
    src: url('/assets/vendor/fonts/source-code/SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Medium.otf') format('opentype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Medium.woff') format('woff'), url('/assets/vendor/fonts/source-code/SourceCodePro-Medium.ttf') format('truetype'), url('/assets/vendor/fonts/source-code/SourceCodePro-Medium.svg#SourceCodePro-Medium') format('svg');
}


/* Webfont: OpenSans-Regular */

@font-face {
    font-family: 'opensans-regular';
    src: url('/assets/vendor/fonts/opensans/regular/OpenSans-Regular.eot');
    src: url('/assets/vendor/fonts/opensans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/vendor/fonts/opensans/regular/OpenSans-Regular.woff2') format('woff2'), url('/assets/vendor/fonts/opensans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/vendor/fonts/opensans/regular/OpenSans-Regular.woff') format('woff'), url('/assets/vendor/fonts/opensans/regular/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}