footer {
    background: $footer-background;
    padding: 50px 0px 150px;
    position: relative;
    @media (min-width: $screen-md) {
        padding: 50px 0px;
    }
}

img {
    max-width: 100%;
}

.foolinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
        color: #fff;
        padding: 10px 0px;
        font-size: 13px;
        font-weight: 300;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        &:hover {
            transition: all 0.3s ease-in-out;
            color: $primary-color;
        }
        @media (min-width: $screen-xl) {
            padding: 5px 0px;
        }
        img {
            margin: 0px 10px 0px 0px;
        }
    }
    .fab {
        font-size: 23px;
        padding: 0px 20px 0px 0px;
    }
}

.footer_items {
    margin-bottom: 30px;
    @media (min-width: $screen-md) {
        margin-bottom: 0;
    }
    h5 {
        color: $footer-header;
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 30px;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    @media (min-width: $screen-md) {
        justify-content: center;
        padding: 0;
    }
}

.footer_items {
    &.engage {
        width: 60%;
        @media (min-width: $screen-md) {
            width: 17%;
        }
    }
    &.product {
        width: 60%;
        @media (min-width: $screen-md) {
            width: 17%;
        }
    }
    &.explore {
        width: 40%;
        @media (min-width: $screen-md) {
            width: 17%;
        }
    }
    &.follow {
        width: 40%;
        @media (min-width: $screen-md) {
            width: 34%;
            padding-left: 30px;
        }
    }
}

%footer-icons {
    padding: 5px 0 5px 25px;
    display: block;
}

.foolinks {
    .icon_gitter {
        @extend %footer-icons;
        background: url('/assets/images/footer-icons/icon_gitter.svg') no-repeat 0 7px;
        background-size: auto 20px;
        transition: $transition;
        &:hover {
            transition: $transition;
            background: url('/assets/images/footer-icons/icon_gitter_hover.svg') no-repeat 0 7px;
            background-size: auto 20px;
        }
    }
    .icon_google {
        @extend %footer-icons;
        background: url('/assets/images/footer-icons/icon_google-group.svg') no-repeat 0 8px;
        background-size: auto 18px;
        transition: $transition;
        &:hover {
            transition: $transition;
            background: url('/assets/images/footer-icons/icon_google-group_hover.svg') no-repeat 0 8px;
            background-size: auto 18px;
        }
    }
    .icon_stack {
        @extend %footer-icons;
        background: url('/assets/images/footer-icons/icon_stack_overflow.svg') no-repeat 0 7px;
        transition: $transition;
        background-size: auto 18px;
        &:hover {
            transition: $transition;
            background: url('/assets/images/footer-icons/icon_stack_overflow_hover.svg') no-repeat 0 7px;
            background-size: auto 18px;
        }
    }
    
    .icon_contribute {
        @extend %footer-icons;
        background: url('/assets/images/footer-icons/icon_contribute.svg') no-repeat 0 7px;
        background-size: auto 18px;
        transition: $transition;
        &:hover {
            transition: $transition;
            background: url('/assets/images/footer-icons/icon_contribute_hover.svg') no-repeat 0 7px;
            background-size: auto 18px;
        }
    }
}

.licence {
    bottom: 10px;
    color: #C1C1C0;
    font-size: 12px;
    left: 0;
    width: 100%;
    position: absolute;
    padding: 20px 30px;
    text-align: center;
    @media (min-width: $screen-md) {
        position: static;
        text-align: left;
        padding-left: 0px;
    }
    a {
        border-bottom: 1px dotted $border-color;
        color: #C1C1C0;
        text-decoration: none;
    }
}