
$note-box-bg: #F2F2F2;
$border-color: #CCCCCC;

.disclaimer {
    margin: -20px 0px;
    line-height: 19px;
    background: #f5f5f5;
    padding: 10px 20px;
    @media (min-width: $screen-lg) {
        margin: -20px 0 -30px 0px;
    }
}

.code-box {
    position: relative;
    background: $secondary-color;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    overflow-x: auto;
    border-radius: $border-radius;
    line-height: 1;
    @media (min-width: $screen-xl) {
        width:838px;
    }
    code {
        color: white;
        display: block;
        font-family: monospace, monospace;
        font-size: 12px;
        @media (min-width: $screen-md) {
            font-size: 14px;
        }
    }
    pre {
        color: #fff;
        font-size: 12px;
        white-space: normal;
        padding: 0px 10px;
        @media (min-width: $screen-md) {
            font-size: 14px;
        }
    }
}

.sidebar-menu-get-started {
    @media (min-width: $screen-xl) {
        width: 20%;
    }
}

.sidebar-content {
    display: none;
    padding: 20px;
}

.active-content {
    display: block;
}

.sidebar-content_header {
    font-size:20px;
    font-family: 'URWGeometric-Bold';
    margin: 0;

    @media (min-width: $screen-md) {
        font-size: 28px;
    }
}

.sidebar-content_description {
    font-family: 'Open Sans';
    font-size: 14px;
    @media (min-width: $screen-md) {
        font-size: 16px;
    }
}

.note-box {
    background-color: $note-box-bg;
    border-left: 3px solid $primary-color;
    border-radius: 5px;
    padding: 10px;
    margin: 30px auto;
}

.note-box_list {
    font-family: 'Open Sans';
    font-size: 14px;

    @media (min-width: $screen-md) { 
        font-size: 16px;
    }
}

.note-heading {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin: 0;
    padding: 0px 20px;
    @media (min-width: $screen-md) {
        font-size: 16px;
    }
}

.note-box_desc {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
    padding: 0px 20px;
    font-size: 14px;

    @media (min-width: $screen-md) {
        font-size: 16px;
    }
}

.sub-section {
    padding: 20px 0;
    margin: 20px auto;
    border-top: 1px solid $border-color;
}

.sub-section_header {
    font-size: 18px;
    font-family: 'URWGeometric-Bold'; 
    @media (min-width: $screen-md) {
        font-size: 20px;
    }
}
.sub-section_desc {
    font-size: 14px;
    @media (min-width: $screen-md) {
        font-size: 16px;
    }
}

.desc-list {
    font-family: 'Open Sans';
    margin: 10px;
    padding: 0 13px;
    font-size: 14px;

    @media (min-width: $screen-md) {
        font-size: 16px;
    }
}
.numbered-points {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 10px;
    }

    .number {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        line-height: 1.5;
        background: $primary-color;
        text-align: center;
        display: inline-block;
    }
}

.marketo-form-container {
    display: block;
    margin: 40px auto;
    width: 100%;

    @media (min-width: $screen-md) {
        width: 593px;
    }

    p {
        font-size: 13px;
    }
}

.content-container-gett_started {
    order: -1;
    border: 1px solid transparent;
    @media (min-width: $screen-lg) {
        order:1;
    }
    @media (min-width: $screen-xl) {
        width: 80%;
    }
} 


.copyBtn {
    position: absolute;
    width: 44px;
    height: 20px;
    background: #D8D8D8;
    outline: none;
    border: none;
    font-size: 13px;
    font-family: 'SourceCodePro-Medium';
    color: #1E1E1E;
    right: 15px;
    top: 15px;
    border-radius: 3px;
    transition: all 0.25s;
    display:none;
  }
  
  @media (min-width: 768px) {
    .copyBtn {
      display: block;
    }
  }
  
  .copyBtn:hover {
    opacity: 0.8;
  }

  .codeBox {
    opacity: 0;
  }

  .copied-text {
    position: absolute;
    font-size: 13px;
    font-family: 'SourceCodePro-Medium';
    color: grey;
    right: 63px;
    top: 16px;
    display: none;
  }

  

.marketo-success {
    display: none;
}

#marketo-success-message {
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;

    h4 {
        margin: 0 0 20px;
    }
    
    .close {
        position: absolute;
        top: 5px;
        right: 9px;
        font-weight: bold;
        font-size: 16px;
        color: #000;
        cursor: pointer;
    }
}

$marekto-section-bg: #333;
$color_light : #fff;

.marketo-section {
    background: $marekto-section-bg;
    padding: 40px;
}

.color_light {
    color: #fff;
}

.form_heading {
    font-size: 18px;
    font-weight: bold;
}

.form_desc{
    font-size: 18px;
    font-weight: normal;
}

.mktoLabel {
    color: $color_light;

    a {
        color: $color_light;

        &:hover {
            color: $color_light;
        }
    }
}

#mktoForm_8802 {
    .mktoFormRow:nth-child(4) {

        .mktoFieldWrap {

            .mktoLabel {
                width: 557px;
                margin: 0px 35px;
            }

            .mktoLogicalField {
                position: absolute;
                left: -5px;
                width: 25px;
            }
        }
    }
}