/styles $border:#ccc;
$border-radius:3px;
$header-bg: #1a1c19;
$header-nav-color: #fff;
$mobile-nav-bg: #292c27;
body {
    margin-top: 65px;
}

header.top {
    @include clearfix;
    background: $header-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 65px;
    transition: all 0.3s ease-in-out;
    @media (min-width: $screen-md) {
        height: 100px;
        transition: all 0.3s ease-in-out;
    }
}

.logo {
    text-decoration: none;
    width: 70px;
    display: inline-block;
    margin: 10px;
    @media (min-width: $screen-md) {
        float: left;
        width: 100px;
    }
}

.nav {
    @media (max-width: $screen-md-min) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        z-index: -1;
        transition: all 0.3s ease-in-out; // transform: translateY(-100%);
        overflow: hidden;
        opacity: 0;
        &.open {
            transition: all 0.3s ease-in-out;
            top: 65px;
            opacity: 1;
        }
    }
    @media (min-width: $screen-md) {
        display: block;
        margin-top: 20px;
        transition: all 0.3s ease-in-out;
    }
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (max-width: $screen-md-min) {
        width: 100%;
        padding: 30px 10px;
        background: $mobile-nav-bg;
    }
    @media (min-width: $screen-md) {
        margin: 10px 0 0;
        float: right;
    }
    li {
        display: block;
        @media (min-width: $screen-md) {
            display: inline-block;
        }
    }
    a {
        text-decoration: none;
        color: $header-nav-color;
        display: block;
        @media (max-width: $screen-md-min) {
            padding: 20px 0 20px 20px;
        }
        @media (min-width: $screen-md) {
            display: inline-block;
            padding: 10px 20px;
        }
    }
}

.link_getstarted {
    a {
        @media (min-width: $screen-md) {
            border:1px solid $border;
            border-radius: 20px;
        }
    }
}

//hamburger animation

.navbtn {
    border: 0;
    background: $header-bg;
    @media (min-width: $screen-md) {
        display: none;
    }
}

