$header-bg: #1a1c19;
$header-nav-color: #333;
// $mobile-nav-bg: #292c27;
$mobile-nav-bg: #fff;
header.top {
    @include clearfix;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 65px;
    transition: all 0.3s ease-in-out;
    ;
    @media (min-width: $screen-md) {
        height: 100px;
        transition: all 0.3s ease-in-out;
    }
    &.sticky,
    &.open {
        background: $header-bg;
        transition: all 0.3s ease-in-out;
    }
}

.header-container {
    margin: 0 auto;
    width: 100%;
    @include grid-container;
    @media (min-width: $screen-sm) {
        max-width: 540px;
    }
    @media (min-width: $screen-md) {
        max-width: 720px;
    }
    @media (min-width: $screen-lg) {
        max-width: 960px;
    }
    @media (min-width: $screen-xl) {
        max-width: 1140px;
    }
}

.logo {
    text-decoration: none;
    width: 100px;
    height: 60px;
    display: inline-block;
    margin: 20px 0 0 16px;
    background: url('/assets/images/gauge-logo_black.svg') no-repeat 0 0;
    text-indent: -100em;
    overflow: hidden;
    @media (min-width: $screen-md) {
        float: left;
        width: 100px;
        margin-left: 0;
    }
    @media (min-width: $screen-xl) {
        width: 160px;
        margin: 0;
    }
    .sticky &,
    .open & {
        background: url('/assets/images/gauge-logo_white.svg') no-repeat 0 0;
    }
}

.nav {
    @media (max-width: $screen-md-min) {
        position: fixed;
        left: 0;
        right: 0;
        top: 65px;
        z-index: -1;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: translatex(-100%);
        ul {
            position: relative;
            z-index: 2;
            height: 100%;
            padding: 30px;
        }
        li {
            border-bottom: 1px dotted $border-color;
            &.githubstar {
                @media (max-width: $screen-md-min) {
                    position:absolute;
                    padding: 20px 0 20px 0px;
                    border:0;
                    top:275px;
                }
            }
        }
        &.open {
            transition: all 0.3s ease-in-out;
            transform: translatex(0%);
            &:after {
                content: "";
                background: rgba(0, 0, 0, 0.8);
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                height: 100%;
            }
        }
    }
    @media (min-width: $screen-md) {
        display: block;
        margin-top: 20px;
        transition: all 0.3s ease-in-out;
    }
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (max-width: $screen-md-min) {
        width: 100%;
        padding: 30px 10px;
        background: $mobile-nav-bg;
    }
    @media (min-width: $screen-md) {
        margin: 10px 0 0;
        float: right;
    }
    li {
        display: block;
        @media (min-width: $screen-md) {
            display: inline-block;
        }
    }
    a {
        text-decoration: none;
        color: $header-nav-color;
        display: block;
        @media (max-width: $screen-md-min) {
            padding: 20px 0 20px 0px;
        }
        @media (min-width: $screen-md) {
            display: inline-block;
            padding: 10px 20px;
        }
    }
}

.link_getstarted {
    a {
        @media (min-width: $screen-md) {
            border:1px solid $border-color;
            border-radius: 20px;
        }
    }
}

.link_home {
    a {
        @media (min-width: $screen-md) {
            display: none;
        }
    }
}

.github-button {
    @media (max-width: $screen-md) {
        display: none;
    }
}

//hamburger animation
.navbtn {
    border: 0;
    @media (min-width: $screen-md) {
        display: none;
    }
}

.open,
.sticky {
    .bar {
        background: #fff;
        &:before,
        &:after {
            background: #fff;
        }
        &.animate {
            background: rgba(0, 0, 0, 0)
        }
    }
}