$header-bg: #1e1e1e;
$header-nav-color: #fff;
$header-nav-color_mobile: #333;
// $mobile-nav-bg: #292c27;
$mobile-nav-bg: #fff;
$transition:all 0.2s ease-in-out;
header.top {
    @include clearfix;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 65px;
    transition: $transition;
    @media (min-width: $screen-md) {
        transition: $transition;
    }
    .inner & {
        background: $header-bg;
        border-bottom: 5px solid $primary-color;
    }
}

.header-container {
    margin: 0 auto;
    width: 100%;
    @include grid-container;
    @media (min-width: $screen-sm) {
        max-width: 540px;
    }
    @media (min-width: $screen-md) {
        max-width: 720px;
    }
    @media (min-width: $screen-lg) {
        max-width: 960px;
    }
    @media (min-width: $screen-xl) {
        max-width: 1140px;
    }
}

.logo {
    text-decoration: none;
    width: 100px;
    height: 32px;
    display: inline-block;
    margin: 18px 0 0 16px;
    background: url('/assets/images/gauge-logo_white.svg') no-repeat 0 0;
    text-indent: -100em;
    overflow: hidden;
    transition: $transition;
    @media (min-width: $screen-md) {
        float: left;
        width: 100px;
        margin: 17px 0 0 0;
    }
    @media (min-width: $screen-xl) {
        width: 180px;
        margin: 12px 0 0 0;
        height: 40px;
    }
}

.nav {
    @include clearfix();
    @media (max-width: $screen-md-min) {
        position: fixed;
        left: 0;
        right: 0;
        top: 65px;
        z-index: -1;
        height: 100%;
        overflow: hidden;
        transition: $transition;
        transform: translatex(-100%);
        ul {
            position: relative;
            z-index: 2;
            height: 100%;
            padding: 30px;
        }
        li {
            border-bottom: 1px dotted $border-color;
            &.githubstar-box {
                @media (max-width: $screen-md-min) {
                    position:absolute;
                    padding: 20px 0 20px 0px;
                    border: 0;
                    top: 330px;
                }
            }
        }
        &.open {
            transition: $transition;
            transform: translatex(0%);
            &:after {
                content: "";
                background: rgba(0, 0, 0, 0.8);
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                height: 100%;
            }
        }
    }
    @media (min-width: $screen-md) {
        display: block;
        margin-top: 17px;
        transition: $transition;
        float: right;
    }
    @media (min-width: $screen-lg) {
        margin-top: 12px;
    }
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: $transition;
    @media (max-width: $screen-md-min) {
        width: 100%;
        padding: 30px 10px;
        background: $mobile-nav-bg;
    }
    @media (min-width: $screen-md) {
        float: right;
    }
    @media (min-width: $screen-xl) {}
    li {
        display: block;
        @media (min-width: $screen-md) {
            display: inline-block;
        }
    }
    a {
        text-decoration: none;
        color: $header-nav-color_mobile;
        display: block;
        transition: $transition;
        @media (max-width: $screen-md-min) {
            font-size:18px;
            padding: 20px 0 20px 0px;
        }
        @media (min-width: $screen-md) {
            color: $header-nav-color;
            display: inline-block;
            padding: 5px 10px;
        }
        @media (min-width: $screen-xl) {
            font-size: 18px;
            font-weight: 300;
        }
        &:hover {
            color: $primary-color;
            transition: $transition;
        }
    }
}

.link_getstarted {
    a {
        @media (min-width: $screen-md) {
            border:1px solid $header-bg;
            border-radius: 20px;
            padding: 3px 10px;
        }
    }
}

.link_home {
    a {
        @media (min-width: $screen-md) {
            display: none;
        }
    }
}

.github-button {
    @media (max-width: $screen-md) {
        display: none;
    }
}

.githubstar {
    @media (max-width: $screen-md) {
        padding: 5px 10px;
    }
} //hamburger animation
.navbtn {
    border: 0;
    @media (min-width: $screen-md) {
        display: none;
    }
}

.githubstar-box {
    a {
        display: flex;
        align-items: center;
    }
    .github-icon {
        background: url("/assets/images/github_star_black.svg") no-repeat 0 0;
        padding-left: 40px;
        width: 40px;
        height: 20px;
        @media (min-width: $screen-md) {
            background: url("/assets/images/github_star.svg") no-repeat 0 0;
        }
    }
    span {
        color: $header-nav-color;
        padding: 4px;
    }
    .github_star {
        color: #333;
        @media (min-width: $screen-md) {
            color:$header-nav-color;
        }
    }
}

.sticky,
.open {
    &.top {
        background: $header-bg;
        transition: $transition;
        height: 65px;
    }
    .bar {
        background: #fff;
        &:before,
        &:after {
            background: #fff;
        }
        &.animate {
            background: rgba(0, 0, 0, 0)
        }
    }
    .logo {
        // background: url('/assets/images/gauge-logo_white.svg') no-repeat 0 0;
        @media (min-width: $screen-md) {
            // margin-top: -2px;
            transition: $transition;
        }
        @media (min-width: $screen-xl) {
            // margin-top: -5px;
            transition: $transition;
        }
    }
    .link_getstarted {
        a {
            @media (min-width: $screen-md) {
                border:1px solid $primary-color;
                border-radius: 20px;
                padding: 3px 10px;
            }
        }
    }
    .main-nav {
        // margin: -7px 0 0;
        transition: $transition;
        a {
            transition: $transition;
            @media (min-width: $screen-md) {
                color: #fff;
            }
            &:hover {
                color: $primary-color;
                transition: $transition;
            }
        }
    }
}

.inner {
    .link_getstarted {
        a {
            @media (min-width: $screen-md) {
                border:0;
                border-radius: 0px;
            }
        }
    }
    .sticky {
        .link_getstarted {
            a {
                @media (min-width: $screen-md) {
                    border:0;
                    border-radius: 0px;
                }
            }
        }
    }
}

#plugins {
    .link_plugins {
        a {
            color: $primary-color;
        }
    }
}

#blog {
    .link_blog {
        a {
            color: $primary-color;
        }
    }
}

.gdpr-cookie-banner {
    background: #fff;
    color: #7b7b7b;
     padding: 10px 50px 10px 30px;
    position: fixed;
    text-align: center;
    font-size: 13px;
    z-index: 11;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.2);
    a{
        color:inherit;
        font-weight:600;
    }
    p {
        margin: 0;
    }
    .close {
        position: absolute;
        cursor: pointer;
        right: 20px;
        top: 10px;
        font-weight: 700;
    }
}

#get_started {
    .link_getstarted {
        a {
            color: $primary-color;
        }
    }
}