$banner-bg: #071323;
$banner-heading:$primary-color;
$white: #fff;
$get-started-background: #E8E8E8;
$get-started-title: #1A1C19;
$light-primary-color:#f8db4d;
.main-highlight {
    background: $primary-color;
}

// Banner Style
%button {
    width: 135px;
    padding: 5px;
    border-radius: 40px;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 13px;
    @media (min-width: $screen-md) {
        padding: 10px;
        width: 200px;
        font-size: 19px;
        display: inline-block;
    }
}

.banner-container {
    background: $banner-bg;
    background-size: cover;
    height: 90vh;
    position: relative;
    width: auto;
    overflow: hidden;
    @media(min-width: $screen-md) {
        height: 50vh;
    }
    @media(min-width: $screen-lg) {
        height: 80vh;
    }
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 90%;
    z-index: 6;
    @media(min-width: $screen-xl) {
        transform: translate(-50%, -80%);
    }
}

.banner-heading {
    color: $banner-heading;
    text-align: center;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 0 20px 10px;
    line-height: 36px;
    @media(min-width: $screen-md) {
        font-size: 36px;
    }
    @media(min-width: $screen-lg) {
        font-size: 44px;
    }
    @media(min-width: $screen-xl) {
        font-size: 48px;
        margin: 0 20px 20px;
    }
}

.banner-description {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $white;
    width: 85%;
    margin: 0 auto 30px;
    @media(min-width: $screen-md) {
        width: 65%;
        font-size: 17px;
        line-height: 25px;
    }
    @media(min-width: $screen-lg) {
        line-height: 27px;
        font-size: 19px;
        font-weight: 300;
    }
    @media(min-width: $screen-xl) {
        width: 40%;
    }
}

$cta-primary-bg:$white;
$cta-secondary-border:$primary-color;
$cta-secondary-color:$primary-color;
.banner-action {
    margin-top: 25px;
    text-align: center;
    .cta-primary {
        @extend %button;
        background: $cta-primary-bg;
        border: 1px solid $white;
        color: $banner-bg;
        @media (min-width: $screen-md) {
            margin-right: 10px;
        }
    }
    .cta-secondary {
        @extend %button;
        border: 1px solid $cta-secondary-border;
        color: $cta-secondary-color;
    }
}

.caption-container {
    padding: 40px;
    background: #f5f5f5;
    @media(min-width: $screen-xl) {
        padding: 60px;
    }
}

.caption {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 28px;
    margin: 0 -26px;
    @media(min-width: $screen-md) {
        font-size: 22px;
        line-height: 30px;
        width: 85%;
        margin: 0 auto;
    }
    @media(min-width: $screen-lg) {
        width: 60%;
    }
    @media(min-width: $screen-xl) {
        width: 55%;
        font-size: 30px;
        line-height: 36px;
        font-weight: 300;
    }
}

.feature {
    padding: 40px 0;
    @media (min-width: $screen-md) {
        padding: 40px 0;
    }
    @media (min-width: $screen-lg) {
        padding: 60px 0;
        display: flex;
    }
}

.feature-graphics {
    @media (min-width: $screen-lg) {
        margin-left: $gutter;
        width: 80%;
    }
}

.feature-content {
    margin-bottom: 40px;
    align-self: center;
    @media (min-width: $screen-lg) {
        width: 40%;
        margin-right: $gutter;
    }
}

.feature-tools {
    .feature-content {
        align-self: flex-start;
        @media (min-width: $screen-lg) {
            margin-top: 55px;
            margin-left: $gutter;
        }
    }
    .feature-graphics {
        @media (min-width: $screen-lg) {
            order: -1;
            margin-right: $gutter;
        }
    }
}

.feature-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    @media (min-width: $screen-md) {
        font-size: 20px;
    }
    @media (min-width: $screen-xl) {
        font-weight: 600;
        margin-bottom: 15px;
    }
    &.feature-heading-main {
        @media (min-width: $screen-lg) {
            margin: 45px 80px 15px 0;
        }
    }
}

.list {
    list-style-type: none;
    li {
        position: relative;
        margin-bottom: 7px;
        &:before {
            content: "";
            display: block;
            background: url("/assets/images/icons/icon_list.png") no-repeat 0 0;
            position: absolute;
            left: -26px;
            width: 12px;
            background-size: contain;
            height: 12px;
            top: 7px;
        }
    }
}

.markdown {
    display: inline-block;
    background: url(/assets/images/icons/icon_markdown.png) no-repeat 0 0px;
    width: 21px;
    margin-left: 2px;
    height: 12px;
}

.tools_screenshots {
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.tools {
    padding: 20px 0;
    background: $light-primary-color;
}

.tool {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    li {
        width: 45px;
        align-items: center;
        align-self: center;
        justify-content: center;
        border-radius: $border-radius;
        position: relative;
        margin: 20px 12px;
        @media (min-width: $screen-md) {
            margin: 25px 12px;
            width: 75px;
        }
        @media (min-width:$screen-lg) {
            margin: 5px;
            width: 75px;
        }
        @media (min-width:$screen-xl) {
            margin: 10px;
        }
    }
    figure {
        width: 100%;
        margin: 0px 0px;
        text-align: center;
        img {
            width: 60%;
            display: inline-block;
            @media (min-width: $screen-md) {
                width: 40%;
            }
            @media (min-width:$screen-lg) {}
            @media (min-width:$screen-xl) {}
        }
    }
    .sahi,
    .puppeteer {
        width: 80px;
    }
    figcaption {
        font-size: 13px;
        position: absolute;
        left: 0;
        bottom: 25px;
        width: 100%;
        text-align: center;
    }
}

// Get Started Section
.get-started {
    position: relative;
    background: $get-started-background;
    padding: 40px 0 0;
    @media (min-width: $screen-lg) {}
    h3 {
        font-size: 20px;
        text-align: center;
        color: #1A1C19;
        font-weight: 400;
        margin: 0 22px 30px;
        line-height: 28px;
        @media (min-width: $screen-lg) {
            font-size: 36px;
            padding: 50px 0;
        }
    }
}

.launch-icon {
    position: relative;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 181px;
    height: 91px;
    @media(min-width: $screen-lg) {
        width: 277px;
        height: 140px;
    }
}

.get-started-cta {
    @extend %button;
    background: $primary-color;
    border: 1px solid $primary-color;
    color: $banner-bg;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 30px auto;
    @media(min-width: $screen-lg) {
        font-size: 24px;
    }
}

// background animation style
.background-anim {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 5;
    transform: translate(0, -50%);
    div {
        canvas {
            display: none !important;
        }
    }
}