<div class="container">
  <aside class="sidebar-menu">
    <ul class="sidebar-nav">
      <li class="sidebar-nav_item active-tab" data-attr="mac"><i class="fa fa-apple"></i> Mac OS</li>
      <li class="sidebar-nav_item " data-attr="windows"><i class="fa fa-windows"></i> Windows</li>
      <li class="sidebar-nav_item " data-attr="debian"><i class="fa fa-linux"></i> Debian/AFT</li>
      <li class="sidebar-nav_item " data-attr="yum"><i class="fa fa-linux"></i> YUM/DNF </li>
      <li class="sidebar-nav_item " data-attr="zip"><i class="fa fa-linux"></i> ZIP</li>
      <li class="sidebar-nav_item " data-attr="curl"><i class="fa fa-linux"></i> Curl</li>
    </ul>
  </aside>

  <div class="content-container">
    <h2 class="mobile-heading open" data-attr="mac"><i class="fa fa-apple"></i> Mac OS <span class="expander"><i class="fa fa-chevron-down"></i></span></h2>
    <div class="tab-content active" id="mac">
      <h4>Mac</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>
    <h2 class="mobile-heading" data-attr="windows"><i class="fa fa-windows"></i> Windows <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="windows">
      <h4>windows</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>
    <h2 class="mobile-heading" data-attr="debian"><i class="fa fa-linux"></i> Debian <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="debian">
      <h4>Deb ian</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>
    <h2 class="mobile-heading" data-attr="yum"><i class="fa fa-linux"></i> YUM/DNF <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="yum">
      <h4> YUM/DNF</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>

    <h2 class="mobile-heading" data-attr="zip"><i class="fa fa-linux"></i> YUM/DNF <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="zip">
      <h4> ZIP</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>

    <h2 class="mobile-heading" data-attr="curl"><i class="fa fa-linux"></i> YUM/DNF <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="curl">
      <h4> Curl</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>

  </div>
</div>