---
title: "Download and get started | Gauge"
title_tag_of_header: "Download and get started | Gauge"

meta_description: "Download Gauge - open source test automation framework - for free. Get started with a single
command."
meta_keywords: "Gauge, test automation, free and open source, download, get started"
---
<main class="main-container container">
  <header class='page-header'>
    <h1> Get Started With Gauge </h1>
  </header>
  
  <div class="tab-container tab-container-get_started">
    <aside class="sidebar-menu sidebar-menu-get-started">
      <h3 class="sidebar-header"> Overview </h3>
      <ul class="sidebar sidebar_get-started">
        <li class="sidebar_item">
          <a href="/getting-started-guide/we-start">
            Before we Start
          </a>
        </li>

        <li class="sidebar_item active_item" >
          <a href="/getting-started-guide/quick-install"> 
            Quick Install 
          </a>
        </li>

        <li class="sidebar_item"> 
          <a href="/getting-started-guide/create-project">Create a Gauge Project </a>
        </li>

        <li class="sidebar_item"> 
          <a href="/getting-started-guide/generate-report">
            Generate a Report 
          </a>
        </li>

        <li class="sidebar_item"> 
          <a href="/getting-started-guide/create-specification">
            Create your own Test Specification 
          </a>
        </li>

        <li class="sidebar_item"> 
          <a href="/getting-started-guide/next-steps">
            Next Steps 
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <h3 class="sidebar-header"> Help </h3>
        <a href="https://docs.gauge.org/master/installation.html#troubleshooting" class="sidebar-footer_link">Installation Troubleshooting</a>
        <p class="sidebar-desc">Need Help? <a href="https://gitter.im/getgauge/chat" class="sidebar-footer_link"> Chat</a> with the team or get in touch with the <a href="https://groups.google.com/forum/#!forum/getgauge" class="sidebar-footer_link">Gauge community</a>.</p>
      </div>
    </aside>

    <div class="content-container content-container-gett_started">
      <%= partial 'partials/get-started/_quick-install.html.erb' %>
    </div>
</main>

<%= partial 'partials/_marketo-form.html.erb' %>
