/*doc
---
title: Banner
name: banner
category: index
---
Style for Banner

```html_example
    <div class="banner-container">
  <div class="container">
    <div class="banner-content">
      <h1 class="banner-heading">Banner Heading</h1>
      <p class="banner-description">Quis laborum minim id ipsum exercitation sit irure. Minim pariatur esse velit reprehenderit occaecat.</p>
      <div class="banner-action">
        <a href="#" class="cta-primary">Banner Action 1</a>
        <a href="#" class="cta-secondary">Banner Action 2</a>
      </div>
    </div>
    </div>
    </div>
```
*/

$banner-bg:$secondary-color;
$banner-heading:#fff;

.banner-container {
  background: $banner-bg;
  background-size: cover;
  height: 100vh;
  min-height: 400px;
  position: relative;
  width: auto;
  overflow: hidden;
  
  @media(min-width: $screen-md) {
      min-height: 500px
  }

  @media(min-width: $screen-lg) {
      min-height: 700px;
  }
}

.banner-container {
  background: #1a1c19 url('/assets/images/home-page_banner_mobile.png') no-repeat center bottom;
  background-size: cover;
  @media(min-width: $screen-md) {
      background: #1a1c19 url('/assets/images/home-page_banner_tablet.png') no-repeat center bottom;
  }
  @media(min-width: $screen-lg) {
      background: #1a1c19 url('/assets/images/home-page_banner_desktop.png') no-repeat center bottom;
      background-size: cover;
  }
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 90%;
  z-index: 6;

  @media(min-width: $screen-xl) {
      transform: translate(-50%, -40%);
  }

  @media (min-width: $screen-md) {
    width: 75%;
  }

  @media (min-width: $screen-lg) {
    width: 65%;
  }
}

.banner-heading {
    color: $banner-heading;
    text-align: center;
    font-size: 24px;
    font-family: 'URWGeometric-Bold', 'Helvetica';
    font-weight: 400;
    margin: 0 20px 20px;
    line-height: 28px;

  @media(min-width: $screen-md) {
      font-size: 36px;
      text-align: left;
      line-height: 50px;
  }

  @media(min-width: $screen-lg) {
      display: block;
      line-height: 65px;
      font-size: 48px;
      margin: 0px 20px 10px;
      width: 100%;
      line-height: 65px;
  }

  @media(min-width: $screen-xl) {
      font-size: 60px;
      margin: 0 20px 20px;;
  }

  .block-text {
      display: block;
      width: 100%;
      font-weight: bold;
  }
}

.banner-description {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $white;
  width: 85%;
  margin: 0 auto 30px;

  @media(min-width: $screen-md) {
      text-align: left;
      width: 100%;
      font-size: 20px;
      line-height: 25px;
      margin: 0 20px 30px;
  }
  @media(min-width: $screen-lg) {
      line-height: 27px;
      font-size: 24px;
      font-weight: 300;
      margin: 20px 20px;
      line-height: 30px;
  }
  @media(min-width: $screen-xl) {
      width: 80%;
  }
}

$taiko-poster-bg: rgba(255, 204, 0, 0.2);
.taiko-launch {
			border-radius: 5px;
			color: #ffffff;
			font-size: 11px;
			padding: 15px;
			text-align: left;
			position: relative;
			margin: 20px 20px;
            line-height: 20px;
            width: auto;
			a {
					color: $white;
				}

		@media screen and(min-width: $screen-md) {
			font-size: 16px;
            margin: 40px 20px;
            padding: 20px;
            width: 570px;
		}

		@media screen and(min-width: $screen-lg) {
            font-size: 18px;
            width: 760px;
        }

        

		&:before {
			content: '';
   		display: block;
			border: 2px solid #ffcc01;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 30px;
			border-right: 0;
			border-radius: 5px 0 0 5px;
		}

		&:after {
			content:'';
			display: block;
			border: 2px solid #ffcc01;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 30px;
			border-left: 0;
			border-radius: 0 5px 5px 0;
		}

}

$cta-color: $secondary-color;
$cta-primary-bg:$primary-color;
$cta-secondary-border:$primary-color;
$cta-secondary-color:$white;

.banner-action {
	text-align: left;
	width: auto;
	padding-bottom: 40px;
	margin: 25px 0px;
	@media (min-width: $screen-md) {
		margin: 25px 17px;
	}

	@media (min-width: $screen-lg) {
		margin: 25px 20px;
	}

  .cta-primary {
      @extend %button;
      background: $cta-primary-bg;
      color: $cta-color;
      text-decoration: none;
      transition: $transition;
      font-weight: bold;
      &:hover {
          background-color: transparent;
          color: $primary-color;
          border: 1px solid $primary-color;
          transition: $transition;
      }
  }

  .cta-secondary {
    @extend %button;
    border: 1px solid $cta-secondary-color;
    color: $cta-secondary-color;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition: $transition;
    @media screen and (min-width: $screen-md) {
        margin-left: 20px !important;
    }
    
    &:hover {
        background: $white;
        color: #000;
    }
    }
	
}