/*doc
---
title: Page header
name: page_header
category: index
---
Style for Page Header

```html_example
    <header class='page-header'>
        <h1>Page Header</h1>
    </header>
```
*/

.page-header {
  margin: 105px 0 40px;
  @media (min-width: $screen-md) {
      margin: 120px 0 40px;
  }
  h1 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
      border-bottom: 1px solid $border-color;
      @media (min-width: $screen-md) {
          font-size:24px;
          line-height: 32px;
      }
  }
}
