<main class="container">
  <header class='page-header'>
    <h1>Plugins</h1>
    <p>Gauge was built from the ground up with extensibility via plugins as a guiding principle. The bundled language runners, IDE support, and reports are all plugins. We will keep the Golang core small and simple, while supporting a rich plugin ecosystem.</p>

    <p>Below is a list of all currently supported plugins, including some plugins that are currently in development (by external and internal contributors). If there is a plugin that you want but do not see, write your own using the Gauge Plugin API. Let us know if you are working on a plugin, and we will list it here.
    </p>
  </header>

  <aside class="sidebar-menu">
    <ul class="tab-nav">
    <li class="tab-nav_item active-tab" data-attr="language">Language Runners</li>
      <li class="tab-nav_item" data-attr="plugins">IDE Plugins</li>
      <li class="tab-nav_item " data-attr="reports">Reports</li>
      <li class="tab-nav_item " data-attr="others">Others</li>
    </ul>
  </aside>

  <div class="content-container">
    <h2 class="mobile-heading open" data-attr="language">Language Runners<span class="expander"><i class="fa fa-chevron-down"></i></span></h2>
    <div class="tab-content active" id="language">
      <ul class="flex-container">
        <li class="flex-container__item">
          <div>Plugin</div>
          <div>Description</div>
          <div>Owner</div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/java.svg" class="icon-md">Java Runner</div>
          <div>Plugin that lets you write your tests in Java. <a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/Crunner.svg" class="icon-md">C# runner</div>
          <div>Plugin that lets you write your tests in C#.<a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/Ruby-runner.svg" class="icon-md">Ruby runner</div>
          <div>Plugin that lets you write your tests in Ruby.<a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/Javascript.svg" class="icon-md">Javascript runner</div>
          <div>Plugin that lets you write your tests in Javascript.<a href="https://github.com/getgauge/gauge-js">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/golang.svg" class="icon-md">Golang runner</div>
          <div>Plugin that lets you write your tests in Golang.<a href="https://github.com/getgauge-contrib/gauge-go">Read more</a></div>
          <div><a href="https://github.com/manuviswam">Manu Viswam</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/python.svg" class="icon-md">Python runner</div>
          <div>Plugin that lets you write your tests in Python.<a href="http://gauge-python.readthedocs.io/en/latest/">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
      </ul>
    </div>

    <h2 class="mobile-heading" data-attr="plugins">IDE Plugins <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="plugins">
      <ul class="flex-container">
        <li class="flex-container__item">
          <div>Plugin</div>
          <div>Description</div>
          <div>Owner</div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/Visual-studio-Code.svg" class="icon-md">Visual Studio Code</div>
          <div>Lets you use VS Code to write tests in Javascript. <a href="https://github.com/getgauge/gauge-vscode">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/intelliJ.svg" class="icon-md">IntelliJ</div>
          <div>Lets you use IntelliJ to write tests in Java.<a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/Visual-studio.svg" class="icon-md">Visual Studio</div>
          <div>Lets you use Visual Studio to write tests in C#.<a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
      </ul>
    </div>
  
    <h2 class="mobile-heading" data-attr="reports">Reports <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="reports">
       <ul class="flex-container">
        <li class="flex-container__item">
          <div>Plugin</div>
          <div>Description</div>
          <div>Owner</div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/HTML.svg" class="icon-md">HTML report</div>
          <div>Generate an HTML report for test execution.<a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/XML.svg" class="icon-md">XML report</div>
          <div>Generate an XML report for test execution.<a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/spectacle.svg" class="icon-md">Spectacle</div>
          <div>Export specifications to HTML.<a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/flash.svg" class="icon-md">Flash</div>
          <div>Real-time execution reporting plugin.<a href="#">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
      </ul>
    </div>

    <h2 class="mobile-heading" data-attr="others"> Others <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="others">
      <ul class="flex-container">
        <li class="flex-container__item">
          <div>Plugin</div>
          <div>Description</div>
          <div>Owner</div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/maven.svg" class="icon-md">Maven</div>
          <div>To build and manage project dependencies.<a href="https://docs.gauge.org/latest/configuration.html#maven">Read more</a></div>
          <div><a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
        </li>
        <li class="flex-container__item">
          <div class="bold-text"><img src="/assets/images/Plugin-icons/gradle.svg" class="icon-md">Gradle</div>
          <div>To build and manage project dependencies.<a href="https://docs.gauge.org/latest/configuration.html#gradle">Read more</a></div>
          <div><a href="https://github.com/manupsunny">Manu Sunny</a></div>
        </li>
      </ul>    
  </div>
  </div>
</main>