---
title: "Supported Plugins | Gauge"
title_tag_of_header: "Supported Plugins | Gauge"

meta_description: "Gauge supported official and community plugins. Extend to add support for IDEs, drivers, datasources, text execution events and programming language."
meta_keywords: "Gauge, plugins, community plugins, support plugins, extend gauge, IDE, Drivers, VS Code, IntelliJ, Ruby, C#, Visual Studio "
---
<main class="main-container container">
  <header class='page-header'>
    <h1>Plugins</h1>
  </header>
  <p>Gauge is extensible via plugins. The bundled language runners, IDE support, and reports are all plugins. We will keep the Golang core small and simple, while supporting a rich plugin ecosystem.</p>
  <p>
Below is a list of all currently supported plugins, including some plugins that are currently in development (by external and internal contributors). If there is a plugin that you want but do not see, write your own using the
 <a href="https://github.com/getgauge/gauge/wiki/API" >Gauge Plugin API.</a>
Let us know if you are working on a plugin, and we will list it here.
</p>
  <div class="tab-container tab-container-plugins">
    <aside class="sidebar-menu sidebar-menu-plugins">
      <ul class="tab-nav">
        <li class="tab-nav_item active-tab" data-attr="language">Language Runners</li>
        <li class="tab-nav_item" data-attr="ide">IDE Plugins</li>
        <li class="tab-nav_item " data-attr="reports">Reports</li>
        <li class="tab-nav_item " data-attr="others">Others</li>
      </ul>
    </aside>

    <div class="content-container">
      <h2 class="mobile-heading open" data-attr="language">Language Runners<span class="expander arrow-active"></span></h2>
      <div class="tab-content active" id="language">
        <ul class="flex-container">
          <li class="flex-container__item">
            <div class="plugin_name">Plugin</div>
            <div class="more">Description</div>
              <div class="owner">Owner</div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-java/releases" ><img src="/assets/images/Plugin-icons/java.svg" class="icon-md">Java Runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Java.  <a href="https://github.com/getgauge/gauge-java/#gauge-java" > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-csharp/releases" > <img src="/assets/images/Plugin-icons/Crunner.svg" class="icon-md">C# runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in C# with .Net Framework as runtime. <a href="https://github.com/getgauge/gauge-csharp#gauge-csharp"  > Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-dotnet/releases" > <img src="/assets/images/Plugin-icons/Crunner.svg" class="icon-md">C# runner (.Net Core)</a>
            </div>
            <div class="more">Plugin that lets you write your tests in C# with .Net Core as runtime. <a href="https://github.com/getgauge/gauge-dotnet#gauge-dotnet"  > Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-ruby/releases" ><img src="/assets/images/Plugin-icons/Ruby-runner.svg" class="icon-md">Ruby runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Ruby.  <a href="https://github.com/getgauge/gauge-ruby#gauge-ruby"> Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-js/releases" ><img src="/assets/images/Plugin-icons/Javascript.svg" class="icon-md">Javascript runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Javascript. <a href="https://github.com/getgauge/gauge-js"  > Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge-contrib/gauge-go/releases" ><img src="/assets/images/Plugin-icons/golang.svg" class="icon-md">Golang runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Golang. <a href="https://github.com/getgauge-contrib/gauge-go"  > Read more</a></div>
             <div class="owner"> <a href="https://github.com/manuviswam">Manu Viswam</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-python/releases" ><img src="/assets/images/Plugin-icons/python.svg" class="icon-md">Python runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Python. <a href="https://github.com/getgauge/gauge-python"  > Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
        </ul>
      </div>

      <h2 class="mobile-heading" data-attr="ide">IDE Plugins <span class="expander arrow"></span></h2>
      <div class="tab-content" id="ide">
        <ul class="flex-container">
          <li class="flex-container__item">
            <div class="plugin_name">Plugin</div>
            <div class="more">Description</div>
             <div class="owner">Owner</div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-vscode/releases" ><img src="/assets/images/Plugin-icons/Visual-studio-Code.svg" class="icon-md">Visual Studio Code</a>
            </div>
            <div class="more">Lets you use VS Code to write tests in JavaScript, Python and Ruby.  <a href="https://github.com/getgauge/gauge-vscode"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/Intellij-Plugin/releases" ><img src="/assets/images/Plugin-icons/intelliJ.svg" class="icon-md">IntelliJ</a>
            </div>
            <div class="more">Lets you use IntelliJ to write tests in Java. <a href="https://github.com/getgauge/Intellij-Plugin/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
             <a href="https://visualstudiogallery.msdn.microsoft.com/dd8ea767-aa75-4771-98f4-6c8a9055ca92" >
            <img src="/assets/images/Plugin-icons/Visual-studio.svg" class="icon-md">Visual Studio</a>
            </div>
            <div class="more">Lets you use Visual Studio to write tests in C#. <a href="https://github.com/getgauge/gauge-visualstudio/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
        </ul>
      </div>

      <h2 class="mobile-heading" data-attr="reports">Reports <span class="expander arrow"></span></h2>
      <div class="tab-content" id="reports">
        <ul class="flex-container">
          <li class="flex-container__item">
            <div class="plugin_name">Plugin</div>
            <div class="more">Description</div>
            <div class="owner">Owner</div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/html-report/releases" ><img src="/assets/images/Plugin-icons/HTML.svg" class="icon-md">HTML report</a>
            </div>
            <div class="more">Generate an HTML report for test execution. <a href="https://github.com/getgauge/html-report/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/xml-report/releases" ><img src="/assets/images/Plugin-icons/XML.svg" class="icon-md">XML report</a>
            </div>
            <div class="more">Generate an XML report for test execution. <a href="https://github.com/getgauge/xml-report/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
             <a href="https://github.com/apoorvam/json-report/releases" ><img src="/assets/images/Plugin-icons/json.svg" class="icon-md">JSON report</a>
            </div>
            <div class="more">Generate a JSON report for test execution. <a href="https://github.com/apoorvam/json-report/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://github.com/apoorvam/">Apoorva M</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/spectacle/releases" ><img src="/assets/images/Plugin-icons/spectacle.svg" class="icon-md">Spectacle</a>
            </div>
            <div class="more">Export specifications to HTML. <a href="https://github.com/getgauge/spectacle#spectacle"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
             <a href="https://github.com/getgauge/flash/releases" >
            <img src="/assets/images/Plugin-icons/flash.svg" class="icon-md">Flash</a>
            </div>
            <div class="more">Real-time execution reporting plugin. <a href="https://github.com/getgauge/Flash#flash" > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
        </ul>
      </div>

      <h2 class="mobile-heading" data-attr="others"> Others <span class="expander arrow"></span></h2>
      <div class="tab-content" id="others">
        <ul class="flex-container">
          <li class="flex-container__item">
             <div class="plugin_name">Plugin</div>
            <div class="more">Description</div>
            <div class="owner">Owner</div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge-contrib/gauge-maven-plugin"  ><img src="/assets/images/Plugin-icons/maven.svg" class="icon-md">Maven</a>
            </div>
            <div class="more">To build and manage project dependencies. <a href="https://docs.gauge.org/latest/configuration.html#maven"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-gradle-plugin"  ><img src="/assets/images/Plugin-icons/gradle.svg" class="icon-md">Gradle</a>
            </div>
            <div class="more">To build and manage project dependencies. <a href="https://docs.gauge.org/latest/configuration.html#gradle"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>