<header class='page-header'>
  <h1>Plugins</h1>
  <p>Gauge was built from the ground up with extensibility via plugins as a guiding principle. The bundled language runners, IDE support, and reports are all plugins. We will keep the Golang core small and simple, while supporting a rich plugin ecosystem.</p>

  <p>Below is a list of all currently supported plugins, including some plugins that are currently in development (by external and internal contributors). If there is a plugin that you want but do not see, write your own using the Gauge Plugin API. Let us know if you are working on a plugin, and we will list it here.
  </p>
</header>

<div class="container">
  <aside class="sidebar-menu">
    <ul class="tab-nav">
      <li class="tab-nav_item active-tab" data-attr="mac">IDE Plugins</li>
      <li class="tab-nav_item " data-attr="windows">Reports</li>
      <li class="tab-nav_item " data-attr="debian">Others</li>
    </ul>
  </aside>

  <div class="content-container">
    <h2 class="mobile-heading open" data-attr="mac"><i class="fa fa-apple"></i> Mac OS <span class="expander"><i class="fa fa-chevron-down"></i></span></h2>
    <div class="tab-content active" id="mac">
      <table>
        <tr>
          <th>Plugin</th>
          <th>Description</th>
          <th>Owner</th>
        </tr>
        <tr>
          <td>Java Runner</td>
          <td>Plugin that lets you write your tests in Java. <a href="#">Read more</a></td>
          <td><a href="#">ThoughtWorks Inc.</a></td>
        </tr>
        <tr>
          <td>C# runner</td>
          <td>Plugin that lets you write your tests in C#.<a href="#">Read more</a></td>
          <td><a href="#">ThoughtWorks Inc.</a></td>
        </tr>
        <tr>
          <td>Ruby runner</td>
          <td>Plugin that lets you write your tests in Ruby.<a href="#">Read more</a></td>
          <td><a href="#">ThoughtWorks Inc.</a></td>
        </tr>
        <tr>
          <td>Javascript runner</td>
          <td>Plugin that lets you write your tests in Javascript.<a href="#">Read more</a></td>
          <td><a href="#">ThoughtWorks Inc.</a></td>
        </tr>
        <tr>
          <td>Golang runner</td>
          <td>Plugin that lets you write your tests in Golang.<a href="#">Read more</a></td>
          <td><a href="#">ThoughtWorks Inc.</a></td>
        </tr>
        <tr>
          <td>Python runner</td>
          <td>Plugin that lets you write your tests in Python.<a href="#">Read more</a></td>
          <td><a href="#">ThoughtWorks Inc.</a></td>
        </tr>
      </table>
    </div>

    <h2 class="mobile-heading" data-attr="windows"><i class="fa fa-windows"></i> Windows <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="windows">
      
    </div>

    <h2 class="mobile-heading" data-attr="debian"><i class="fa fa-linux"></i> Debian <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="debian">
      
    </div>

</div>
