<link rel="canonical" href="<%= "https://gauge.org" + current_page.url %>">
<% wrap_layout :layout do %>
<div class="container blog-container p">
    <div class="post-container">
      <% if content_for?(:banner) %>
      <div class="post-banner">
        <%= yield_content :banner %>
      </div>
     <% end %>
      <main id="main" role="main" class="blog-post-main-container">
      <%= yield %>
      </main>
    </div>
</div>
<% end %>
