---
layout: post
post_title: ThoughtWorks Gauge is out of beta
date: 2018-06-19
summary_image: "/assets/images/blog/gauge_blog_image_why-we-built-gauge_large.jpg"
excerpt: "We’re happy to announce the launch of ThoughtWorks Gauge 1.0, and Gauge is officially out of beta."
author_name: "Zabil Maliackal"
author_image: "https://cdn-images-1.medium.com/fit/c/100/100/1*tpbiaLHohL5UbeRbfw3hFw.jpeg"

title: "ThoughtWorks Gauge is out of beta | Gauge Blog"
title_tag_of_header: "ThoughtWorks Gauge is out of beta | Gauge Blog"

meta_description: "This is a post announcing Gauge release 1.0. "
meta_keywords: "gauge, release, go-live "
---


# ThoughtWorks Gauge is out of beta
May 15, 2018 | Zabil Maliackal

<%= image_tag "blog/gauge_blog_image_why-we-built-gauge_large.jpg", {:title => "ThoughtWorks Gauge is out of beta", :alt => "ThoughtWorks Gauge is out of beta"} %>

We’re happy to announce the launch of Gauge 1.0, and Gauge is officially out of beta. 

## Our Goal

Teams rely on tests to quickly detect and fix problems in every stage of their build pipeline. 
We have observed (and felt it ourselves!) that it is tough to maintain or debug tests, especially acceptance tests, 
even if you follow the test pyramid. 
That’s where Gauge, a free and open source test automation framework by ThoughtWorks, comes in.

## Why we built Gauge

Over time, teams over-engineer test suites with design opinions making it harder and harder to write new tests 
or maintain existing ones. We believe it’s important to minimize or eliminate this bloated design process. 
Gauge removes this overhead by making test automation a natural part of the software development cycle and 
by removing hurdles that come in the way of writing and maintaining acceptance tests.

Gauge is

- An easy to setup single binary with no dependencies that’s available for all major languages and platforms.
- Easy to learn with markdown syntax and a simple implementation. 
- Easy to maintain by focusing on creating readable and reusable tests without design overhead and with less code.
- Easy to extend with its modular design and plugins.

If you’d like to learn more about why we built Gauge and how Gauge can help you create a low maintenance test suite 
we’ve <%= link_to 'written', '/2018/05/15/why-we-built-gauge/'%> at length about our motivations behind building Gauge on our blog. 

## Acknowledgement

We didn’t get here alone. We are grateful to a whole bunch of wonderful people that includes our contributors 
and a growing <%= link_to 'community', 'https://groups.google.com/forum/#!forum/getgauge'%> of early adopters.

## Roadmap

We are excited to move out of beta. We have some great features lined up for version 1.1 - 
the main one being support for .NET core on VS Code. Also in the pipeline are some of our community requested 
features like screenshots during test execution and table driven execution of scenarios. 
There’s a lot of exciting stuff in the pipeline and you can see it all on our <%= link_to 'roadmap', 'https://waffle.io/getgauge/gauge'%>.

<div class="container">
    <a href="/get_started/" class="get-started-cta">Get Started </a>        
</div>

## Thank you Contributors

Thank you Abdulkadir Yaman, Adriano Bonat, André Mota, Andreas Jöcker, Angel Munozs, Angela Baird, Apoorva GA, Apoorva M, 
Ben Biddington, Ben Tatham, Bill Kim, Boaz Berman, C.J.Russell, Carlos Miranda, Carr Chang, Chris Busbey, Christopher Stewart, 
Cord Rehn, Daniel Enman, David Nelson, Deepti Chandramowli, Dylan McGuire, Galeel Bhasha Satthar, Gerard Braad,
 Gerd Katzenbeisser, Guilherme Heuser Prestes, Haroon Sheikh, HelloWood, ils-808, Ivan Portugal, James Wilson, 
 Jean Jordaan, Joe DeCock, Jonathan Reyes, Kashish Munjal, Kaustav Das Modak, Ken Mugrage, Krishnaswamy Subramanian, 
 kunalch, Mahendra Kariya, Manu Sunny, Manu Viswam, Mario Pareja, Martin Broadhurst, Martin Feckie, Martyn Balmer, 
 Maulik Suchak, Max Dubé, Mikhail Dolinin, Navaneeth.K.N, Naveen Bhaskar, Nehashri, Nivedha, Omer Katz, Orange Bean, 
 Philip Beadle, Prateek Baheti, Rabih Hallage, Renjith G R, Reuben Thomas, Robert Kotlowski, Ruslan Sharipov, 
 Saakallya Biswas, Sergii Melnyk, Sharath Satish, Shen Renhui, Shubham Singh, Soumya Swaroop, Srijayanth, Srikanth Venugopalan, 
 Steffen Forkmann, Steve Hill, Steven, Tomasz Sętkowski, Vignesh Babu V, Vinay Shankar Shukla, Vishnu Karthik, Vlastimil Zeman, 
 Will Herrmann, William de Witt, Xavier Detant, Zabil CM and 杜龙少. 
