<footer>
  <div class="footer container">
    <div class="footer_items">
      <h5>Product</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="#">Quickstart</a> </li>
          <li> <a href="#">Features</a> </li>
          <li> <a href="#">Plugins</a> </li>
          <li> <a href="#">Documentation</a> </li>
                      
        </ul>
      </nav>
    </div>
    <div class="footer_items">
      <h5>Explore</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="#">Blog</a> </li> 
          <li> <a href="#">Roadmap</a> </li>
          <li> <a href="#">Man page</a> </li>
          <li> <a href="#">Insights</a> </li>
        
        </ul>
      </nav>
    </div>      
    <div class="footer_items">
      <h5>Engage</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="#">Gitter</a> </li> 
          <li> <a href="#">Google Group</a> </li>
          <li> <a href="#">Stack Overflow</a> </li>
          <li> <a href="#">Slack</a> </li>
          <li> <a href="#">Contribute</a> </li>                  
        
        </ul>
      </nav>
    </div>
    <div class="footer_items">
      <h5>Follow us</h5>
    </div>
  </div>
</footer>