<footer>
  <div class="footer container">
    <div class="footer_items product">
      <h5>Product</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="/get_started">Get started</a> </li>
          <li> <a href="/plugins/">Plugins</a> </li>
          <li> <a href="//docs.gauge.org/latest/index.html" >Documentation</a> </li>
          <li> <a href="/blog"  >Blog</a></li> 
          <li> <a href="//brandfolder.com/twproducts/gauge"   >Press Kit</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer_items explore">
      <h5>Explore</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://manpage.gauge.org/">Gauge Commmands</a> </li>
          <li> <a href="https://insights.gauge.org/">Insights</a> </li>
          <li> <a href="https://www.thoughtworks.com/privacy-policy">Privacy</a> </li>
        </ul>
      </nav>
    </div>      
    <div class="footer_items engage">
      <h5>Engage</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://gitter.im/getgauge/chat" class="icon_gitter">Gitter</a> </li> 
          <li> <a href="https://groups.google.com/forum/#!forum/getgauge"  class="icon_google">Google Group</a> </li>
          <li> <a href="https://stackoverflow.com/questions/tagged/getgauge"   class="icon_stack">Stack Overflow</a> </li>
          <li> <a href="https://github.com/getgauge/gauge/blob/master/CONTRIBUTING.md"  class="icon_contribute" >Contribute</a> </li>                  
        </ul>
      </nav>
    </div>
    <div class="footer_items follow">
      <h5>Follow us</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://github.com/getgauge/gauge"  ><i class="fab fa-github"></i></a> <a href="https://twitter.com/getgauge"  ><i class="fab fa-twitter"></i></a></li> 
          </ul>
        </nav>
        <div class="licence">
        <p>Gauge is an open-source project, sponsored by <a href="https://www.thoughtworks.com/"  >ThoughtWorks Inc.</a> under the GPL License, Version 3.0</p>
        </div>
    </div>
  </div>
</footer>
<%= javascript_include_tag "jquery-3.3.1.min" %>
<%= javascript_include_tag "site" %>
<%= partial 'partials/ga' %>
