<footer>
  <div class="footer container">
    <div class="footer_items product">
      <h5>Product</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="/get_started">Get started</a> </li>
          <li> <a href="plugins/">Plugins</a> </li>
          <li> <a href="https://docs.gauge.org/latest/index.html" >Documentation</a> </li>
          <li> <a href="/blog"  >Blog</a></li> 
          <li> <a href="https://brandfolder.com/twproducts/gauge"   >Press Kit</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer_items explore">
      <h5>Explore</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://waffle.io/getgauge/gauge"   >Roadmap</a> </li>
          <li> <a href="https://manpage.gauge.org/"   >Gauge Commmands</a> </li>
          <li> <a href="https://insights.gauge.org/"   >Insights</a> </li>
        </ul>
      </nav>
    </div>      
    <div class="footer_items engage">
      <h5>Engage</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://gitter.im/getgauge/chat" ><img src="/assets/images/footer-icons/gitter-icon.svg" class="icon-sm">Gitter</a> </li> 
          <li> <a href="https://groups.google.com/forum/#!forum/getgauge"  ><img src="/assets/images/footer-icons/google-group-icon.svg" class="icon-sm">Google Group</a> </li>
          <li> <a href="https://stackoverflow.com/questions/tagged/getgauge"  ><img src="/assets/images/footer-icons/stack_overflow-icon.svg" class="icon-sm">Stack Overflow</a> </li>
          <li> <a href="https://github.com/getgauge/gauge/blob/master/CONTRIBUTING.md"  ><img src="/assets/images/footer-icons/contribute-icon.svg" class="icon-sm">Contribute</a> </li>                  
        </ul>
      </nav>
    </div>
    <div class="footer_items follow">
      <h5>Follow us</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://github.com/getgauge/gauge"  ><i class="fab fa-github"></i></a> <a href="https://twitter.com/getgauge"  ><i class="fab fa-twitter"></i></a></li> 
          </ul>
        </nav>
        <div class="licence">
        <p>Gauge is an open-source project, sponsored by <a href="https://www.thoughtworks.com/"  >ThoughtWorks Inc.</a> under the GPL License, Version 3.0</p>
        </div>
    </div>
  </div>
</footer>