<footer>
  <div class="footer container">
    <div class="footer_items product">
      <h5>Product</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="get_started/">Get started</a> </li>
          <li> <a href="/index.html#features">Features</a> </li>
          <li> <a href="plugins/">Plugins</a> </li>
          <li> <a href="https://docs.gauge.org/latest/index.html" target="_blank">Documentation</a> </li>
          <li> <a href="/blog"  target="_blank">Blog</a></li> 
          <li> <a href="#https://brandfolder.com/twproducts"   target="_blank">Press Kit</a></li> 
                      
        </ul>
      </nav>
    </div>
    <div class="footer_items explore">
      <h5>Explore</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://waffle.io/getgauge/gauge"   target="_blank">Roadmap</a> </li>
          <li> <a href="https://manpage.gauge.org/"   target="_blank">Man page</a> </li>
          <li> <a href="https://insights.gauge.org/"   target="_blank">Insights</a> </li>
        
        </ul>
      </nav>
    </div>      
    <div class="footer_items engage">
      <h5>Engage</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://gitter.im/getgauge/chat" target="_blank"><img src="/assets/images/footer-icons/gitter-icon.svg" class="icon-sm">Gitter</a> </li> 
          <li> <a href="https://groups.google.com/forum/#!forum/getgauge"  target="_blank"><img src="/assets/images/footer-icons/google-group-icon.svg" class="icon-sm">Google Group</a> </li>
          <li> <a href="https://stackoverflow.com/users/login?ssrc=anon_ask&returnurl=https%3a%2f%2fstackoverflow.com%2fquestions%2fask%3ftags%3dgetgauge"  target="_blank"><img src="/assets/images/footer-icons/stack_overflow-icon.svg" class="icon-sm">Stack Overflow</a> </li>
          <li> <a href="https://github.com/getgauge/gauge/blob/master/CONTRIBUTING.md"  target="_blank"><img src="/assets/images/footer-icons/contribute-icon.svg" class="icon-sm">Contribute</a> </li>                  
        
        </ul>
      </nav>
    </div>
    <div class="footer_items follow">
      <h5>Follow us</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="https://github.com/getgauge/gauge"  target="_blank"><i class="fab fa-github"></i></a> <a href="https://twitter.com/getgauge"  target="_blank"><i class="fab fa-twitter"></i></a></li> 
          </ul>
        </nav>
        <div class="licence">
        <p>Gauge is an open-source project, sponsored by <a href="https://www.thoughtworks.com/"  target="_blank">ThoughtWorks Inc.</a> under the GPL License, Version 3.0</p>
        <p>made with <span class="love">love</span> in bangalore</p>
        </div>
    </div>
  </div>
</footer>