<footer>
  <div class="footer container">
    <div class="footer_items">
      <h5>Product</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="#">Quickstart</a> </li>
          <li> <a href="#">Features</a> </li>
          <li> <a href="#">Plugins</a> </li>
          <li> <a href="#">Documentation</a> </li>
                      
        </ul>
      </nav>
    </div>
    <div class="footer_items">
      <h5>Explore</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="#">Blog</a> </li> 
          <li> <a href="#">Roadmap</a> </li>
          <li> <a href="#">Man page</a> </li>
          <li> <a href="#">Insights</a> </li>
        
        </ul>
      </nav>
    </div>      
    <div class="footer_items">
      <h5>Engage</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="#"><img src="/assets/images/footer-icons/gitter-icon.svg" class="icon-sm">Gitter</a> </li> 
          <li> <a href="#"><img src="/assets/images/footer-icons/google-group-icon.svg" class="icon-sm">Google Group</a> </li>
          <li> <a href="#"><img src="/assets/images/footer-icons/stack_overflow-icon.svg" class="icon-sm">Stack Overflow</a> </li>
          <li> <a href="#"><img src="/assets/images/footer-icons/slack-icon.svg" class="icon-sm">Slack</a> </li>
          <li> <a href="#"><img src="/assets/images/footer-icons/contribute-icon.svg" class="icon-sm">Contribute</a> </li>                  
        
        </ul>
      </nav>
    </div>
    <div class="footer_items">
      <h5>Follow us</h5>
      <nav class="footer_links">
        <ul class="foolinks">
          <li> <a href="#"><i class="fab fa-github"></i></a> <a href="#"><i class="fab fa-twitter"></i></a></li>  
      </nav>
    </div>
  </div>
</footer>