<header class="top">
  <div class="header-container">
    <a href="/" class="logo">Gauge</a>
    <nav class="nav">
      <ul class="main-nav">
        <li class="githubstar-box">
          <a href="https://github.com/getgauge/gauge"   target="_blank"><span  class="github-icon"></span><span class="github_star"></span></a>
        </li>
        <li class="link_home"><a href="/">Home</a></li>
        <li class="link_plugins"><%= link_to 'Plugins', '/plugins/' %></a></li>
        <li><%= link_to 'Documentation', "https://docs.gauge.org/#{config.docs_version}/index.html" %></li>
        <li class="link_blog"><%= link_to 'Blog', '/blog/' %></li>
      </ul>
    </nav>
    <div class="navbtn">
      <div class="bar"></div>
    </div>
  </div>
</header>
