<header class="top">
  <div class="header-container">
    <a href="/index.html" class="logo">Gauge</a>
    <nav class="nav">
      <ul class="main-nav">
<<<<<<< HEAD
        <li class="github-star">
          <a href="#"><img src="/assets/images/github_star_white.svg" class="github-icon"><span class="github_star"></a>
=======
        <li class="githubstar-box">
          <a href="https://github.com/getgauge/gauge" target="_blank"><span  class="github-icon"></span><span class="github_star"></span></a>
>>>>>>> a31c2b7... HOMEPAGE WIP
        </li>
        <li class="link_home"><a href="/">Home</a></li>
        <li><%= link_to 'Plugins', '/plugins/' %></a></li>
        <li><a href="#">Documentation</a></li>
        <li class="link_getstarted"><%= link_to 'Get Started', '/get_started/' %></li>
      </ul>
    </nav>
    <div class="navbtn">
      <div class="bar"></div>
    </div>
  </div>
</header>
 