<header class="top">
  <div class="container">
    <a href="index.html" class="logo"><img src="/assets/images/gauge-logo.svg" alt=""></a>
    <nav class="nav">
      <ul class="main-nav">
        <li clas="link_home"><a href="#">Home</a></li>
        <li><a href="#">Plugin</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a class="github-button" href="https://github.com/getgauge/gauge" data-size="large" data-show-count="true" aria-label="Star getgauge/gauge on GitHub">Star</a></li>
        <li class="link_getstarted"><a href="get_started/">Get Started</a></li>
      </ul>
    </nav>
    <div class="navbtn">
      <div class="bar"></div>
    </div>
  </div>
</header>
 