        <section class="page-block">
          <h3>Create a new project</h3>
          <p class="instruction">
            Initialize a new Gauge project in the language of your choice. Running the command below will create a new project template in your prefered language with a sample test specification.
          </p>
          <div class="code-box">
            <code>$ gauge init js    # or csharp, java, python, ruby
            </code>
          </div>
          <p class="instruction">Now run the sample specification with this command.</p>
          <div class="code-box">
            <code>$ gauge run specs</code>
            <pre>
  Specifications:	1 executed	1 passed	0 failed	0 skipped
  Scenarios:    	2 executed	2 passed	0 failed	0 skipped

  Total time taken: 80ms
  </pre>
          </div>
        </section>
        <section class="page-block">
          <h3>Write specifications in your prefered IDE</h3>
          <p>Now that you’ve run the sample specification in Gauge, it’s time to write some of your own. We recommend that you download one of our IDE plugins to start writing your specifications.</p>
          <div class="tab-component tab-install">
            <ul class="tab">
              <li class="tab_item active-tab" data-attr="vsc"><span class="icon_vsc">Visual Studio Code</span></li>
              <li class="tab_item" data-attr="intellij"><span class="icon_intellij"> IntelliJ</span></li>
              <li class="tab_item" data-attr="vs"><span class="icon_vs"> Visual Studio</span></li>
            </ul>
            <div class="tab-content-container">
            
              <div class="tab-content active" id="vsc">
                <h4 class="mobile-title"><span class="icon_vsc">Visual Studio Code</span></h4>
                <p class="instruction">
                 <a href="https://marketplace.visualstudio.com/items?itemName=getgauge.gauge" class="download_plugin">VSCode Plugin </a>
                </p>
                <P>This plugin currently supports Gauge with JavaScript, Ruby and Python.</p>

              </div>
              <div class="tab-content" id="intellij">
                <h4 class="mobile-title"><span class="icon_intellij">IntelliJ</span></h4>
                  <p class="instruction">
                  <a href="https://github.com/getgauge/Intellij-Plugin/blob/master/README.md"  class="download_plugin">IntelliJ IDEA  Plugin</a>
                  </p>
                  <P>This plugin currently supports Gauge with Java</p>

              </div>
              <div class="tab-content" id="vs">
                <h4 class="mobile-title"><span class="icon_vs">Visual Studio</span></h4>
                              <p class="instruction">
                  <a href="https://github.com/getgauge/gauge-visualstudio/blob/master/README.md"  class="download_plugin"> Visual Studio Plugin </a>
                  </p>
                  <P>This plugin currently supports Gauge with C#.</p>
              </div>            
          </div>
        </section> 
                 
<p class="handy_guide">To improve your authoring experience, learn how to write Gauge specifications with  <a href="https://docs.gauge.org/latest/writing-specifications.html#specifications-spec"> this handy guide.</a></p>
