<section class="marketo-section">
  <div class="marketo-form-container">
    <h4 class="form_heading color_light">Want updates about Gauge releases?</h4>
    <p class="form_desc color_light">Subscribe to the Gauge Release Bulletin for monthly email updates on the latest Gauge
      releases.</p>
    <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_8802"></form>
    <script>
      MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 8802, function (form) {
        form.onSuccess(function (values, followUpUrl) {
          $("#marketo-success-message .email").text(values.Email);
          form.vals({
            Country: "",
            Email: "",
            consent_Privacy_Policy: false
          });
          form.submittable(true);
          $(form.getFormElem()).find("button[type='submit']").text("Submit").prop("disabled", false);
          $("#marketo-success-message").show();
          return false;
        });
        $("#marketo-success-message .close").click(function () {
          $("#marketo-success-message .email").text("");
          $("#marketo-success-message").hide();
        });
      });
    </script>
  </div>
  <div class="marketo-success" id="marketo-success-message">
    <span class="close">X</span>
    <h4>You are almost in!</h4>
    We've sent an email to <span class="email"></span>. You must check this email to activate your subscription.
  </div>
</section>
