<aside class="post-sidebar">
  <section  class="recent-ariticles">
    <h2 class="section-title">Recent Articles</h2>
    <ol>
      <% selected_articles_for_display_in(blog.articles)[0...5].each do |article| %>
      <li>
        <span class="post-date"><%= article.date.strftime('%b %e') %></span>
        <span class="post-author"><%= article.data["author"] %></span>
        <%= link_to article.title, article %>
      </li>
      <% end %>
    </ol>
  </section>
  <section>
    <h2 class="section-title">By Year</h2>
    <ol>
      <% selected_articles_for_display_in(blog.articles).group_by {|a| a.date.year }.each do |year, articles| %>
      <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year).sub(/\.html$/, '/index.html') %></li>
      <% end %>
    </ol>
  </section>
</aside>