---
title: "Reliable javascript test automation | Gauge - Taiko"
title_tag_of_header: "Reliable javascript test automation | Gauge - Taiko"

meta_description: "Gauge and Taiko are free and open source tools by ThoughtWorks that make JavaScript test automation reliable."
meta_keywords: "Gauge, Taiko, javascript test automation, thoughtworks, flaky tests, js test automation, js test framework "
---

<main class="main-container">
  <header class='sm-banner-container'>
    <img src="<%= image_path('White-Circle.png')%>" class="img_centered">
    <div class="container">
      <h1 class="bold-lg-header"> Gauge + Taiko = No more flaky tests </h1>
      <p class="banner-desc">Everything you need for reliable end to end testing</p>
    </div>
  </header>

  <section class="gauge_taiko">
    <div class="container">
      <div class="row-cards">
        <div class="row-cards_item">
          <div class="item-header">
            <img class="img-resposive header_img" src= "<%= image_path('gauge-logo_black.svg') %>" />
          </div>
          <p class="item-content">
            <a href="/">Gauge</a> is a free and open source test automation tool that takes the pain out of maintaining  acceptance tests. 
          </p>
        </div>

        <div class="row-cards_item">
          <div class="item-header">
            <img class="img-resposive header_img taiko-logo" src= "<%= image_path('Taiko-logo.svg') %>" />
          </div>
          <p class="item-content">
            <a href="https://taiko.gauge.org">Taiko</a> is free and open source node library with a clear and concise API built ground up to test modern web applications.
          </p>
        </div>
      </div>
      <p class="desc_bold">
          Together, Gauge and Taiko help you create reliable and easy to maintain end to end tests.
        </p>

        <a href="https://taiko.gauge.org/#integrating-gauge" class="btn-lg">
          End to End testing With Gauge + Taiko
        </a>
    </div>
  </section>

  <section class="video-slides bg-primary-color">
    <div class="container">
      <p class="section-desc"> 
        Testing Experience Simplified Using Gauge + Taiko
      </p>
      <div class="video-section">
        <iframe width="100%" height="550" src="https://www.youtube-nocookie.com/embed/w027U_HRj_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> 
      <div class="video-cards">
        <ul class="card-nav">
          <li class="card-nav_item active " data-attr="video1">            
            <span class="number">1</span><span class="desc">. Install and initialize</span>
          </li>

          <li class="card-nav_item" data-attr="video2">            
            <span class="number">2</span> <span class="desc">. Record Tests</span>
          </li>

          <li class="card-nav_item" data-attr="video3">            
            <span class="number">3</span> <span class="desc">. Generate Scripts</span>
          </li>

          <li class="card-nav_item" data-attr="video4"> 
            <span class="number">4</span><span class="desc">. Write Specs</span>
          </li>

          <li class="card-nav_item" data-attr="video5">            
            <span class="number">5</span><span class="desc">. Create Reports</span>
          </li>
        </ul>

        <div class="cards-container">
          
          <div class="card active-card" id="video1">
            <div class="row-box">
              <h3 class="title-mobile"> Install and initialize </h3>
              <div class="video-container">
                <script id="asciicast-6K6Rr1vEfuwjNjVk0LvuJsCgm" src="https://asciinema.org/a/6K6Rr1vEfuwjNjVk0LvuJsCgm.js" async data-size="small" data-rows="20"></script>
              </div>

              <div class="card_content-container">
                <h3 class="title-tablet"> Install and initialize </h3>
                <p class="content-desc">
                Gauge and Taiko are simple to set up. Start with a sample JavaScript project using these commands</p>

                <pre class="code-box_sm"> npm install -g @getgauge/cli </pre>
                <pre class="code-box_sm"> gauge init js </pre>
              </div>
            </div>
          </div>

          <div class="card" id="video2">
            <div class="row-box">
              <h3 class="title-mobile"> Record Tests </h3>
              <div class="video-container">
                <script id="asciicast-Ozk8o8cGenPfzY0DvhuuNAjYl" src="https://asciinema.org/a/Ozk8o8cGenPfzY0DvhuuNAjYl.js" async data-size="small" data-rows="20"> </script>
              </div>

              <div class="card_content-container">
                <h3 class="title-tablet"> Record Tests </h3>
                <p class="content-desc">
                Taiko comes with a Recorder that’s a REPL to write test scripts. Use Taiko commands to control the browser from REPL.</p>
              </div>
            </div>
          </div>

          <div class="card" id="video3">
            <div class="row-box">
              <h3 class="title-mobile">Generate Scripts</h3>
              <div class="video-container">
                <script id="asciicast-GNsBPi0hKYqq7JGJ11YhCgNNe" src="https://asciinema.org/a/GNsBPi0hKYqq7JGJ11YhCgNNe.js" async data-size="small" data-rows="20" data-t="35">
                </script>
              </div>

              <div class="card_content-container">
                <h3 class="title-tablet">  Generate Scripts </h3>
                <p class="content-desc">
                Taiko's '.code' command generates readable and maintainable JavaScript code.
                </p>
              </div>
            </div>
          </div>

          <div class="card" id="video4">
            <div class="row-box">
              <h3 class="title-mobile"> Write Specs </h3>
              <div class="video-container">
                <video controls class="video_item">
                  <source src="https://www.videvo.net/videvo_files/converted/2013_08/preview/hd0983.mov28884.webm" type="video/webm">
                </video>
              </div>

              <div class="card_content-container">
                <h3 class="title-tablet">Write Specs</h3>
                <p class="content-desc">
                  Gauge specifications are in Markdown that make writing tests simple and easy to read. With our recommended VS Code Plugin, authoring specifications are a delight. 
                </p>
              </div>
            </div>
          </div>

          <div class="card" id="video5">
            <div class="row-box">
              <h3 class="title-mobile"> Create Reports </h3>
              <div class="video-container">
                <script id="asciicast-gTG92UxaYRDA3j7S7OAlUH4VS" src="https://asciinema.org/a/gTG92UxaYRDA3j7S7OAlUH4VS.js" async data-size="small" data-rows="20">
                </script>
              </div>

              <div class="card_content-container">
                <h3 class="title-tablet"> Create Reports </h3>
                <p class="content-desc">
                  Gauge helpfully takes a screenshot on a test failure allowing you to see what went wrong. Run your specification on the command line/terminal using
                </p>

                <pre class="code-box_sm"> gauge run specs </pre>
                <p class="content-desc">
                  Reports are available across multiple formats (XML, JSON, HTML).
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="info-banner">
    <span class="arrow-down-dark"></span>
    <div class="container">
      <p class="info-text_light">
        Gauge and Taiko are built by ThoughtWorks and are open source and free to use. 
        <br/> You can reach out to the Gauge community for any support. 
      </p>

      <a href="https://taiko.gauge.org/#integrating-gauge" class="btn-lg btn_light"> Get started with Gauge + Taiko </a>
    </div>
  </section>

</main>