/*doc
---
title: Side Tab
name: Side Tab
category: Components
---

Style for tabs

```html_example
  <div class="tab-component tab-install">
            <ul class="tab">
              <li class="tab_item active-tab" data-attr="tab1">Tab 1</li>
              <li class="tab_item" data-attr="tab2">Tab 2</li>
            </ul>
            <div class="tab-content-container">
              <div class="tab-content active" id="tab1">
                <h4 class="mobile-title">Tab1</h4>
                <p>Consectetur proident officia ipsum incididunt aute ex qui quis fugiat. Do esse esse nisi ullamco. Duis proident nulla culpa enim reprehenderit qui in nostrud magna nulla mollit est eiusmod laboris.</p>
              </div>
              <div class="tab-content" id="tab2">
                <h4 class="mobile-title">Tab2</h4>
                <p>Do esse esse nisi ullamco. Duis proident nulla culpa enim reprehenderit qui in nostrud magna nulla mollit est eiusmod laboris.</p>
              </div>
            </div>
          </div>
```
*/

$active-tab :$primary-color;
$feature-tab-bg: #E8E8E8;
$active-feature-tab-bg: #f8db4d;
$f-tab-main-bg: rgba(255, 255, 255, 0.3);
$f-tab-main-bg-active: #ffffff;
// --------component styles
.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: $screen-lg) {
        justify-content: flex-start;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
    }
}

.tab_item {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 18px;
    &.active-tab {
        border-bottom: 3px solid $active-tab;
        display: block;
    }
    @media (min-width: $screen-md) {
        padding: 5px 30px;
    }
}

// .f-tab_item {
//     background: $feature-tab-bg;
//     margin: 0 10px 20px 0;
//     padding: 5px 15px;
//     border-radius: 35px;
//     cursor: pointer;
//     font-size: 13px;
//     &.f-active-tab {
//         background: $active-feature-tab-bg;
//         display: block;
//     }
//     @media (min-width: $screen-md) {
//         margin: 0 10px 20px 0;
//         padding: 5px 30px;
//     }
// }

//highlighted tab style

.tab-content {
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
    border-top: 0;
    display: none;
    @media (min-width: $screen-md) {
        border: none;
        padding: 0;
    }
    @media (min-width: $screen-lg) {
        border: none;
        padding: 0;
    }
    &.active {
        display: block;
        @media (min-width: $screen-lg) {
            display: block;
        }
    }
}

//featured tab in homepage styles

.tab-main {
    border: 0;
    @media (min-width: $screen-lg) {
        margin-bottom: 0px;
    }
    .tab_item {
        background: $f-tab-main-bg;
        margin: 0 10px 20px 0;
        padding: 5px 20px;
        border-radius: 35px;
        font-size: 16px;
        &.active-tab {
            background: $f-tab-main-bg-active;
        }
    }
    .tab-content{
        border:0;
    }
}


//getting started installation tabs

.tab-getting_started{
    .tab-content{
        padding:30px 50px;
        @media (min-width: $screen-lg) {
            padding:0px 0 0 50px;
        }
    }
}

.tab-install {
    margin-top: 40px;
    .tab {
        border-bottom   : 1px solid #ccc;
        justify-content : flex-start;
        margin-bottom : 30px;
        display:none;
        @media (min-width: $screen-md) {
         display:flex;
        }
    }
    .tab_item{
        padding:5px 20px;
        &:first-child{
            padding:5px 20px 5px 0;

        }
    }
    .tab-content{
        border:0;
        padding:0;
        display:block;
        @media (max-width:$screen-sm-min){
            margin-bottom : 45px;
        }
        @media (min-width: $screen-md) {
            display:none;
            &.active{
                display:block;
            }
        }
    }
    .mobile-title{
        border-bottom:1px dotted $border-color;
        padding-bottom: 5px;
        font-weight:600;
        margin:10px 0;
        @media (min-width: $screen-md) {
            display:none;
        }
    }
}