/*doc
---
title: Featured Tab
name: Featured tab
category: Components
---

Style for tabs

```html_example
  <div class="container">
  <div class="feature">
    <ul class="f-tab">
      <li class="f-tab_item active-tab" data-attr="c">C#</li>
      <li class="f-tab_item" data-attr="js">Javascript</li>
      <li class="f-tab_item" data-attr="js">Python</li>
      <li class="f-tab_item" data-attr="js">Java</li>
      <li class="f-tab_item" data-attr="js">Ruby</li>
    </ul>

    <div class="content-container">
      <div class="f-tab-content active" id="mac">

      </div>
    </div>
  </div>
</div>
```
*/

$feature-tab-bg: #E8E8E8;
$active-feature-tab-bg: #f8db4d;
$f-tab-main-bg: rgba(255, 255, 255, 0.3);
$f-tab-main-bg-active: #ffffff;
// --------component styles
.feature {
    @media (min-width: $screen-lg) {
        display: flex;
    }
}

.feature-graphics {
    @media (min-width: $screen-lg) {
        margin-left: $gutter;
        width: 80%;
    }
}

.feature-content {
    margin-bottom: 40px;
    align-self: center;
    @media (min-width: $screen-md) {
        text-align: center;
    }
    @media (min-width: $screen-lg) {
        width: 40%;
        margin-right: $gutter;
        text-align: left;
    }
}

.f-tab-content {
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
    border-top: 0;
    display: none;
    @media (min-width: $screen-md) {
        border: none;
        padding: 0;
    }
    @media (min-width: $screen-lg) {
        border: none;
        padding: 0;
    }
    &.f-active {
        display: block;
        @media (min-width: $screen-lg) {
            display: block;
        }
    }
}

.f-tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: $screen-lg) {
        justify-content: flex-start;
    }
}

.f-tab_item {
    background: $feature-tab-bg;
    margin: 0 10px 20px 0;
    padding: 5px 15px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 13px;
    &.f-active-tab {
        background: $active-feature-tab-bg;
        display: block;
    }
    @media (min-width: $screen-md) {
        margin: 0 10px 20px 0;
        padding: 5px 30px;
    }
}

//highlighted tab style
.f-tab-main {
    .f-tab_item {
        background: $f-tab-main-bg;
        &.f-active-tab {
            background: $f-tab-main-bg-active;
        }
    }
}