/*doc
---
title: Side Tab
name: Side Tab
category: Components
---

Style for tabs

```html_example
  <div class="tab-component tab-install">
            <ul class="tab">
              <li class="tab_item active-tab" data-attr="chocolatey">Chocolatey</li>
              <li class="tab_item" data-attr="w-zip">ZIP</li>
            </ul>
            <div class="tab-content-container">
              <div class="tab-content active" id="chocolatey">
                <h4 class="mobile-title">Chocolatey</h4>
                <p class="instruction"> Install Gauge using <a href="https://chocolatey.org">Chocolatey</a></p>
                <div class="code-box">
                  <code>&gt; choco install gauge</code>
                </div>
              </div>
              <div class="tab-content" id="w-zip">
                <h4 class="mobile-title">ZIP</h4>
                <p class="instruction"> Download the
                  <a href="https://github.com/getgauge/gauge/releases/download/v<%= data.version.gauge %>/gauge-<%= data.version.gauge %>-windows.x86_64.zip">zip</a>
                  installer and the run following command in powershell</p>
                <div class="code-box">
                  <code>PS&gt; Expand-Archive -Path gauge-<%= data.version.gauge %>-windows.x86_64.zip -DestinationPath custom_path</code>
                </div>
              </div>

              <p class="instruction">
                For alternate methods of installation and our nightly releases, check out our
                <a href="https://docs.gauge.org/latest/installation.html#installation">documentation</a>.
              </p>
            </div>
          </div>
```
*/

$active-tab :$primary-color;
$feature-tab-bg: #E8E8E8;
$active-feature-tab-bg: #f8db4d;
$f-tab-main-bg: rgba(255, 255, 255, 0.3);
$f-tab-main-bg-active: #ffffff;
// --------component styles
.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: $screen-lg) {
        justify-content: flex-start;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
    }
}

.tab_item {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 18px;
    &.active-tab {
        border-bottom: 3px solid $active-tab;
        display: block;
    }
    @media (min-width: $screen-md) {
        padding: 5px 30px;
    }
}

// .f-tab_item {
//     background: $feature-tab-bg;
//     margin: 0 10px 20px 0;
//     padding: 5px 15px;
//     border-radius: 35px;
//     cursor: pointer;
//     font-size: 13px;
//     &.f-active-tab {
//         background: $active-feature-tab-bg;
//         display: block;
//     }
//     @media (min-width: $screen-md) {
//         margin: 0 10px 20px 0;
//         padding: 5px 30px;
//     }
// }

//highlighted tab style

.tab-content {
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
    border-top: 0;
    display: none;
    @media (min-width: $screen-md) {
        border: none;
        padding: 0;
    }
    @media (min-width: $screen-lg) {
        border: none;
        padding: 0;
    }
    &.active {
        display: block;
        @media (min-width: $screen-lg) {
            display: block;
        }
    }
}

//featured tab in homepage styles

.tab-main {
    border: 0;
    @media (min-width: $screen-lg) {
        margin-bottom: 0px;
    }
    .tab_item {
        background: $f-tab-main-bg;
        margin: 0 10px 20px 0;
        padding: 5px 20px;
        border-radius: 35px;
        font-size: 16px;
        &.active-tab {
            background: $f-tab-main-bg-active;
        }
    }
    .tab-content{
        border:0;
    }
}


//getting started installation tabs

.tab-getting_started{
    .tab-content{
        padding:30px 50px;
        @media (min-width: $screen-lg) {
            padding:0px 0 0 50px;
        }
    }
}

.tab-install {
    margin-top: 40px;
    .tab {
        border-bottom   : 1px solid #ccc;
        justify-content : flex-start;
        margin-bottom : 30px;
        display:none;
        @media (min-width: $screen-md) {
         display:flex;
        }
    }
    .tab_item{
        padding:5px 20px;
        &:first-child{
            padding:5px 20px 5px 0;

        }
    }
    .tab-content{
        border:0;
        padding:0;
        display:block;
        @media (max-width:$screen-sm-min){
            margin-bottom : 45px;
        }
        @media (min-width: $screen-md) {
            display:none;
            &.active{
                display:block;
            }
        }
    }
    .mobile-title{
        border-bottom:1px dotted $border-color;
        padding-bottom: 5px;
        font-weight:600;
        margin:10px 0;
        @media (min-width: $screen-md) {
            display:none;
        }
    }
}