/*doc
---
title: Side Bar
name: side_bar
category: index
---

Style for tabs

```html_example
    <aside class="sidebar-menu sidebar-menu-get-started">
      <h3 class="sidebar-header"> Overview </h3>
      <ul class="sidebar sidebar_get-started">
        <li class="sidebar_item active_item"> Before We start</li>
        <li class="sidebar_item active_item"> Quick Install</li>
        <li class="sidebar_item active_item"> Create a Gauge Project </li>
        <li class="sidebar_item active_item"> Generate a Report </li>
        <li class="sidebar_item active_item"> Create your own Test Specification </li>
        <li class="sidebar_item active_item"> Next Steps </li>
      </ul>
    </aside>
```
*/

$sidebar-item-color: #333333;
$controls-border: #CCCCCC;
$control-txt-color: #333333;
$control-heading-color: #999999;

.sidebar-header {
  color: #999999;
  font-size: 16px;
  font-weight: bold;
}

.sidebar {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;

  @media (min-width: $screen-md) {
    display: block;
  }
}

.sidebar_item {
  color: $sidebar-item-color;
  font-size: 14px;
  font-weight: normal;
  margin: 20px 0;
}

.active_item {
  font-weight: bold;
  border-bottom: 2px solid $primary-color;
}

.controls {
  border-top: 1px solid $controls-border;
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0px;
  margin: 50px 0;
}

.left-btn {
  float: left;
}

.right-btn {
  float: right;
}

.control_heading {
  color: $control-heading-color;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: bold;
  margin: 0;
}

.cntl-txt {
  cursor: pointer;
  color: $control-txt-color;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  padding: 0;
  margin: 0;

  &:hover {
    background-color: transparent !important;
  }
}

.icon-sm {
  height: 22px;
  width: 22px;
  vertical-align: bottom;
}