/*doc
---
title: Tab
name: tabs
category: Components
---

Style for tabs

```html_example
    <div class="tab-container tab-container-plugins">
    <aside class="sidebar-menu sidebar-menu-plugins">
      <ul class="tab-nav">
        <li class="tab-nav_item active-tab" data-attr="language">Language Runners</li>
        <li class="tab-nav_item" data-attr="ide">IDE Plugins</li>
        <li class="tab-nav_item " data-attr="reports">Reports</li>
        <li class="tab-nav_item " data-attr="others">Others</li>
      </ul>
    </aside>

    <div class="content-container">
      <h2 class="mobile-heading open" data-attr="language">Language Runners<span class="expander arrow-active"></span></h2>
      <div class="tab-content active" id="language">
        <ul class="flex-container">
          <li class="flex-container__item">
            <div class="plugin_name">Plugin</div>
            <div class="more">Description</div>
              <div class="owner">Owner</div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-java/releases" ><img src="/assets/images/Plugin-icons/java.svg" class="icon-md">Java Runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Java.  <a href="https://github.com/getgauge/gauge-java/#gauge-java" > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-csharp/releases" > <img src="/assets/images/Plugin-icons/Crunner.svg" class="icon-md">C# runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in C#. <a href="https://github.com/getgauge/gauge-csharp#gauge-csharp"  > Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-ruby/releases" ><img src="/assets/images/Plugin-icons/Ruby-runner.svg" class="icon-md">Ruby runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Ruby.  <a href="https://github.com/getgauge/gauge-ruby#gauge-ruby"> Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-js/releases" ><img src="/assets/images/Plugin-icons/Javascript.svg" class="icon-md">Javascript runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Javascript. <a href="https://github.com/getgauge/gauge-js"  > Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge-contrib/gauge-go/releases" ><img src="/assets/images/Plugin-icons/golang.svg" class="icon-md">Golang runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Golang. <a href="https://github.com/getgauge-contrib/gauge-go"  > Read more</a></div>
             <div class="owner"> <a href="https://github.com/manuviswam">Manu Viswam</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-python/releases" ><img src="/assets/images/Plugin-icons/python.svg" class="icon-md">Python runner</a>
            </div>
            <div class="more">Plugin that lets you write your tests in Python. <a href="http://gauge-python.readthedocs.io/en/latest/"  > Read more</a></div>
             <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
        </ul>
      </div>

      <h2 class="mobile-heading" data-attr="ide">IDE Plugins <span class="expander arrow"></span></h2>
      <div class="tab-content" id="ide">
        <ul class="flex-container">
          <li class="flex-container__item">
            <div class="plugin_name">Plugin</div>
            <div class="more">Description</div>
             <div class="owner">Owner</div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-vscode/releases" ><img src="/assets/images/Plugin-icons/Visual-studio-Code.svg" class="icon-md">Visual Studio Code</a>
            </div>
            <div class="more">Lets you use VS Code to write tests in JavaScript, Python and Ruby.  <a href="https://github.com/getgauge/gauge-vscode"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/Intellij-Plugin/releases" ><img src="/assets/images/Plugin-icons/intelliJ.svg" class="icon-md">IntelliJ</a>
            </div>
            <div class="more">Lets you use IntelliJ to write tests in Java. <a href="https://github.com/getgauge/Intellij-Plugin/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
             <a href="https://visualstudiogallery.msdn.microsoft.com/dd8ea767-aa75-4771-98f4-6c8a9055ca92" >
            <img src="/assets/images/Plugin-icons/Visual-studio.svg" class="icon-md">Visual Studio</a>
            </div>
            <div class="more">Lets you use Visual Studio to write tests in C#. <a href="https://github.com/getgauge/gauge-visualstudio/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
        </ul>
      </div>

      <h2 class="mobile-heading" data-attr="reports">Reports <span class="expander arrow"></span></h2>
      <div class="tab-content" id="reports">
        <ul class="flex-container">
          <li class="flex-container__item">
            <div class="plugin_name">Plugin</div>
            <div class="more">Description</div>
            <div class="owner">Owner</div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/html-report/releases" ><img src="/assets/images/Plugin-icons/HTML.svg" class="icon-md">HTML report</a>
            </div>
            <div class="more">Generate an HTML report for test execution. <a href="https://github.com/getgauge/html-report/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/xml-report/releases" ><img src="/assets/images/Plugin-icons/XML.svg" class="icon-md">XML report</a>
            </div>
            <div class="more">Generate an XML report for test execution. <a href="https://github.com/getgauge/xml-report/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
             <a href="https://github.com/getgauge/xml-report/releases" ><img src="/assets/images/Plugin-icons/json.svg" class="icon-md">JSON report</a>
            </div>
            <div class="more">Generate a JSON report for test execution. <a href="https://github.com/apoorvam/json-report/blob/master/README.md"  > Read more</a></div>
            <div class="owner"> <a href="https://github.com/apoorvam/">Apoorva M</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/spectacle/releases" ><img src="/assets/images/Plugin-icons/spectacle.svg" class="icon-md">Spectacle</a>
            </div>
            <div class="more">Export specifications to HTML. <a href="https://github.com/getgauge/spectacle#spectacle"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
             <a href="https://github.com/getgauge/flash/releases" >
            <img src="/assets/images/Plugin-icons/flash.svg" class="icon-md">Flash</a>
            </div>
            <div class="more">Real-time execution reporting plugin. <a href="https://github.com/getgauge/Flash#flash" > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
        </ul>
      </div>

      <h2 class="mobile-heading" data-attr="others"> Others <span class="expander arrow"></span></h2>
      <div class="tab-content" id="others">
        <ul class="flex-container">
          <li class="flex-container__item">
             <div class="plugin_name">Plugin</div>
            <div class="more">Description</div>
            <div class="owner">Owner</div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/getgauge/gauge-maven-plugin/releases"  ><img src="/assets/images/Plugin-icons/maven.svg" class="icon-md">Maven</a>
            </div>
            <div class="more">To build and manage project dependencies. <a href="https://docs.gauge.org/latest/configuration.html#maven"  > Read more</a></div>
            <div class="owner"> <a href="https://www.thoughtworks.com/products">ThoughtWorks Inc.</a></div>
          </li>
          <li class="flex-container__item">
            <div class="plugin_name">
               <a href="https://github.com/manupsunny/gauge-gradle-plugin/releases"  ><img src="/assets/images/Plugin-icons/gradle.svg" class="icon-md">Gradle</a>
            </div>
            <div class="more">To build and manage project dependencies. <a href="https://docs.gauge.org/latest/configuration.html#gradle"  > Read more</a></div>
            <div class="owner"> <a href="https://github.com/manupsunny">Manu Sunny</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
```
*/

%active-border {
    background: #EEE;
    border-bottom: 6px solid $active-border-color;
}

// grid
.tab-container {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-lg) {
        flex-direction:row;
    }
}

.sidebar-menu {
    height: auto;
    @media (min-width: $screen-lg) {
        width:30%;
        margin: 0 $gutter 0 0;
    }
}

.content-container {
    margin: 0 -16px; // border-radius: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    @media (min-width: $screen-md) {
        margin:0;
    }
    @media (min-width: $screen-lg) {
        margin: 0 0 0 $gutter;
        border: 0;
        width: 70%;
    }
}

.sidebar-menu-plugins {
    display: none;
    @media (min-width: $screen-lg) {
        display: block;
    }
    @media (min-width: $screen-xl) {
        width: 20%;
    }
}

.content-container-plugins {
    @media (min-width: $screen-xl) {
        width:80%;
    }
}

// --------component styles
.tab-nav {
    color: #33374f;
    list-style: none;
    margin: $gutter 0;
    padding: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.tab-nav_item {
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    &.active-tab {
        background: $active-nav-bg;
        @extend %active-border;
    }
    &:hover {
        background: #f2f2f2;
    }
} // tab content
.tab-content {
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
    border-top: 0;
    display: none;
    padding: 20px;
    @media (min-width: $screen-md) {
        // border: none;
        padding: 0;
    }
    @media (min-width: $screen-lg) {
        border: none;
        padding: 0;
    }
    &.active {
        display: block;
        @media (min-width: $screen-lg) {
            display: block;
        }
    }
}

.mobile-heading {
    color: #33374f;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid $border-color;
    position: relative;
    display: flex;
    align-items: center;
    border-top: 1px solid $border-color;
    margin: -1px 0;
    @media (min-width: $screen-md) {}
    @media (min-width: $screen-lg) {
        display: none;
    }
    &.open {
        @extend %active-border;
    }
    >.fa {
        margin-right: 10px;
    }
}

.expander {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 17px;
}