/*doc
---
title: Tab
name: tabs
category: Components
---

Style for tabs

```html_example
<div class="container">
  <aside class="sidebar-menu">
    <ul class="tab-nav">
      <li class="tab-nav_item active-tab" data-attr="mac"><i class="fa fa-apple"></i> Mac OS</li>
      <li class="tab-nav_item " data-attr="windows"><i class="fa fa-windows"></i> Windows</li>
      <li class="tab-nav_item " data-attr="debian"><i class="fa fa-linux"></i> Debian/AFT</li>
      <li class="tab-nav_item " data-attr="yum"><i class="fa fa-linux"></i> YUM/DNF </li>
      <li class="tab-nav_item " data-attr="zip"><i class="fa fa-linux"></i> ZIP</li>
      <li class="tab-nav_item " data-attr="curl"><i class="fa fa-linux"></i> Curl</li>
    </ul>
  </aside>

  <div class="content-container">
    <h2 class="mobile-heading open" data-attr="mac"><i class="fa fa-apple"></i> Mac OS <span class="expander"><i class="fa fa-chevron-down"></i></span></h2>
    <div class="tab-content active" id="mac">
      <h4>Mac</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>
    <h2 class="mobile-heading" data-attr="windows"><i class="fa fa-windows"></i> Windows <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="windows">
      <h4>windows</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>
    <h2 class="mobile-heading" data-attr="debian"><i class="fa fa-linux"></i> Debian <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="debian">
      <h4>Deb ian</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>
    <h2 class="mobile-heading" data-attr="yum"><i class="fa fa-linux"></i> YUM/DNF <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="yum">
      <h4> YUM/DNF</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>

    <h2 class="mobile-heading" data-attr="zip"><i class="fa fa-linux"></i> YUM/DNF <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="zip">
      <h4> ZIP</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>

    <h2 class="mobile-heading" data-attr="curl"><i class="fa fa-linux"></i> YUM/DNF <span class="expander"><i class="fa fa-chevron-right"></i></span></h2>
    <div class="tab-content" id="curl">
      <h4> Curl</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto id iste autem facere labore sint amet! Libero repudiandae esse architecto rerum veniam. In autem odit rem nulla commodi recusandae iusto!</p>
    </div>

  </div>
</div>
```
*/

%active-border {
    background: #EEE;
    border-bottom: 6px solid $active-border-color;
}

// --------component styles
.sidebar-menu {
    display: none;
    height: auto;
    @media (min-width: $screen-lg) {
        @include grid-column(3);
        display: block;
        margin: 0 $gutter;
    }
}

.tab-nav {
    color: #33374f;
    list-style: none;
    margin: $gutter 0;
    padding: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.tab-nav_item {
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    padding: 20px;
    &.active-tab {
        background: $active-nav-bg;
        @extend %active-border;
    }
    &:hover {
        background: #f2f2f2;
    }
}

// tab content
.content-container {
    @media (max-width: $screen-sm-min) {
    margin:0 -20px;
    border-radius:0;
    }
    @media (min-width: $screen-md) {
        border: 1px solid $border-color;
        border-radius: $border-radius;
    }
    @media (min-width: $screen-lg) {
        @include grid-column(9);
        margin: 0 $gutter;
        border:0;
    }

}

.tab-content {
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
    border-top: 0;
    display: none;
    padding: 20px;
    @media (min-width: $screen-md) {
        // border: none;
        padding: 0;
    }
    @media (min-width: $screen-lg) {
        border: none;
        padding: 0;
    }
    &.active {
        display: block;
        @media (min-width: $screen-lg) {
            display: block;
        }
    }
}

.mobile-heading {
    color: #33374f;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid $border-color;
    position: relative;
    display: flex;
    align-items: center;
    border-top: 1px solid $border-color;
    margin: -1px 0;
    @media (min-width: $screen-md) {
    }
    @media (min-width: $screen-lg) {
        display: none;
    }
    &.open {
        @extend %active-border;
    }
    >.fa {
        margin-right: 10px;
    }
}

.expander {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 17px;
}