/*doc
---
title: Tab
name: tabs
category: Components
---

Style for tabs

```html_example
    <div class="tab-container tab-container-plugins">
    <aside class="sidebar-menu sidebar-menu-plugins">
      <ul class="tab-nav">
        <li class="tab-nav_item active-tab" data-attr="featured-tab1">Tab 1</li>
        <li class="tab-nav_item" data-attr="featured-tab2">Tab 2</li>
        <li class="tab-nav_item " data-attr="featured-tab3">Tab 3</li>
      </ul>
    </aside>

    <div class="content-container">
      <h2 class="mobile-heading open" data-attr="featured-tab1">Tab 1<span class="expander arrow-active"></span></h2>
      <div class="tab-content active" id="featured-tab1">
        <p> Pariatur proident laborum aliqua cupidatat id nostrud aute. Consectetur cupidatat amet ullamco sit consectetur officia commodo elit minim cupidatat incididunt minim Lorem. Qui ad veniam nostrud ad ut esse anim proident cillum.</p>
      </div>

      <h2 class="mobile-heading" data-attr="featured-tab2">Tab 2 <span class="expander arrow"></span></h2>
      <div class="tab-content" id="featured-tab2">
        <p>Culpa ex do eu amet aliquip. Anim deserunt proident eiusmod anim aliqua Lorem do laborum irure consectetur ad commodo tempor. Ex exercitation sint Lorem eiusmod commodo. Fugiat Lorem dolore magna ipsum nostrud. Consequat in voluptate reprehenderit excepteur. Ut deserunt excepteur laborum velit.</p>
      </div>

      <h2 class="mobile-heading" data-attr="featured-tab3">Tab 3 <span class="expander arrow"></span></h2>
      <div class="tab-content" id="featured-tab3">
        <p>Lorem cillum id excepteur dolore sit in. Magna est dolore quis laborum dolore laboris duis officia officia anim ipsum. Ipsum culpa labore non aliqua anim. Sit deserunt nostrud culpa sint cupidatat ea voluptate ex nisi aute dolore laboris consectetur nisi.</p>
      </div>
    </div>
  </div>
```
*/

%active-border {
    background: #EEE;
    border-bottom: 6px solid $active-border-color;
}

// grid
.tab-container {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-lg) {
        flex-direction:row;
    }
}

.sidebar-menu {
    height: auto;
    @media (min-width: $screen-lg) {
        width:30%;
        margin: 0 $gutter 0 0;
    }
}

.content-container {
    margin: 0 -16px; // border-radius: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    @media (min-width: $screen-md) {
        margin:0;
    }
    @media (min-width: $screen-lg) {
        margin: 0 0 0 $gutter;
        border: 0;
        width: 70%;
    }
}

.sidebar-menu-plugins {
    display: none;
    @media (min-width: $screen-lg) {
        display: block;
    }
    @media (min-width: $screen-xl) {
        width: 20%;
    }
}

.content-container-plugins {
    @media (min-width: $screen-xl) {
        width:80%;
    }
}

// --------component styles
.tab-nav {
    color: #33374f;
    list-style: none;
    margin: $gutter 0;
    padding: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.tab-nav_item {
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    &.active-tab {
        background: $active-nav-bg;
        @extend %active-border;
    }
    &:hover {
        background: #f2f2f2;
    }
} // tab content
.tab-content {
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
    border-top: 0;
    display: none;
    padding: 20px;
    @media (min-width: $screen-md) {
        // border: none;
        padding: 0;
    }
    @media (min-width: $screen-lg) {
        border: none;
        padding: 0;
    }
    &.active {
        display: block;
        @media (min-width: $screen-lg) {
            display: block;
        }
    }
}

.mobile-heading {
    color: #33374f;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid $border-color;
    position: relative;
    display: flex;
    align-items: center;
    border-top: 1px solid $border-color;
    margin: -1px 0;
    @media (min-width: $screen-md) {}
    @media (min-width: $screen-lg) {
        display: none;
    }
    &.open {
        @extend %active-border;
    }
    >.fa {
        margin-right: 10px;
    }
}

.expander {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 17px;
}