/*doc
---
title: Thumbnail
name: Grid-thumbnails
category: Components
---

Style for Thumbnail

```html_example
  <ul class="small-thumbnails">
    <li class="thumbnail-small">
      <div class="thumbnail-small_graphics">
        <img src="http://via.placeholder.com/100x100" alt="">
      </div>
      <div class="thumbnail-small_details">
        <h3>Thumbnail 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sequi atque perferendis temporibus</p>
      </div>
    </li>
      <li class="thumbnail-small">
      <div class="thumbnail-small_graphics">
        <img src="http://via.placeholder.com/100x100" alt="">
      </div>
      <div class="thumbnail-small_details">
        <h3>Thumbnail 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sequi atque perferendis temporibus</p>
      </div>
    </li>
</ul> 
```
*/


.small-thumbnails {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (min-width: $screen-lg) {
        display:flex;
    }
}

.thumbnail-small {
    display: flex;
    margin-bottom:50px;
    @media (min-width: $screen-md) {
        margin: 0 15px 30px;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        padding: 45px;
    }
    @media (min-width: $screen-lg) {
        width: 50%;
    }
}

.thumbnail-small_details {
    width: 85%;
    margin: 0 0 0 $gutter;

}

.thumbnail-small_graphics {
    width: 15%;
    margin: 0 $gutter 0 0;
    @media (min-width: $screen-md) {
        text-align: right;
    }
}