<div class="sidebar-content" id="next-steps">
        <h2 class="sidebar-content_header"> Next Steps </h2>

        <p class="sidebar-content_description">
          And, that concludes our getting started journey for Gauge. Hopefully this helped you install and set-up your first Gauge project. Gauge comes with powerful language & tool support as well as a versatile reporting functionality. We've covered the basics for all of these features in this guide.
        </p>
        <p class="sidebar-content_description">
          As a next step, the following resources are available:
        </p>
        <div class="note-box">
          <p class="note-box_desc"> 
            <ul class="note-box_list">
              <li> 
                <a href="https://docs.gauge.org/latest/writing-specifications.html">
                  Gauge Documentation
                </a>
                The Gauge Docs have more in-depth detail on writing Gauge specifications and connecting them with the test scripts of your choice. 
              </li>
              <li>
                <a href="https://docs.gauge.org/latest/examples.html#examples">Examples</a>
                The examples section contains example projects of different languages and tools to help you get started with exactly what you need.
              </li>
              <li>
                <a href="https://taiko.gauge.org">Taiko Documentation</a>
                The Taiko documentation site has all information you need to start recording test scripts using Taiko.
              </li>
            </ul>
          </p>
        </div>

        <%= partial 'partials/_page_controls.html.erb', :locals => { :text_left => 'Create your own test specification',  :link_text_lt => '#create-specification', :text_right => "", :link_text_rt => '#' } %>
      </div>