<div class="sidebar-content active-content" id="we-start"> 
        <h2 class="sidebar-content_header">Before we Start</h2>
        <p class="sidebar-content_description"> In this guide, you’ll be able to install Gauge and learn how to create a test automation project using Gauge. We’ll cover
        </p>

        <div class="note-box">
          <ul class="note-box_list">
            <li> <a href="#quick-install" class="cntl-txt">How to install Gauge on your machine </a></li>
            <li> <a href="#create-project" class="cntl-txt">How to create a Gauge Project </a> </li>
            <li> <a href="#create-specification" class="cntl-txt"> How to write and run a test specification </a></li>
          </ul>
        </div>

        <div class="sub-section">
          <h3 class="sub-section_header"> Have your tools ready </h3>
          <p class="sub-section_desc"> 
            Gauge is a test automation tool that will need to be installed on your machine. 
            You can access Gauge features with the help of 
            <ul class="desc-list">
              <li><strong>Command line tool </strong> (common ones are CMD or powershell for Windows, Terminal or iTerm for Mac)  </li>
              <li><strong>Code editor</strong>(We recommend using VS Code as Gauge integrates powerfully with its <a href="https://marketplace.visualstudio.com/items?itemName=getgauge.gauge">VS Code Plugin.)</a></li>
            </ul>
          </p>

          <div class="note-box">
            <p class="note-box_desc">
              Gauge automatically <a href="https://gauge.org/2017/07/20/why-we-collect-data/">sends telemetry </a> data to help us improve the product. If you would prefer not to have this data sent you can choose to opt out.
            </p>
          </div>
        </div>
        <%= partial 'partials/_page_controls.html.erb', :locals => { :text_left => '', :link_text_lt => '#' , :text_right => 'Quick Install', :link_text_rt => '#quick-install' } %>
      </div>