---
layout: post
pageable: true
per_page: 100
---

<% articles_to_show = selected_articles_for_display_in page_articles %>
<% latest_post      = articles_to_show.first %>
<% second_post      = articles_to_show[1] %>
<% articles         = articles_to_show.drop(1) %>

  <div class="container">
      <div class="blog-list-item latest-blog">
        <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => latest_post } %>
     </div>
     
    <hr class="line-primary-color"/>
    <ul class="blogs">
    <% articles.select.with_index do |article| %>
        <li class="item">
            <div class="blog-list-item">
              <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => article } %>
            </div>
        </li>
    <% end %>
    </ul>
  </div>
