---
title: "Open Source Test Automation Framework | Gauge"
title_tag_of_header: "Open Source Test Automation Framework | Gauge"

meta_description: "Gauge is an open source test automation framework that takes the pain out of writing and maintaining regression or acceptance test suites."
meta_keywords: "Gauge, getgauge, test automation framework, free and open source, thoughtworks, acceptance test, functional test, regression test, automation testing, python runner, C# runner, Java runner, javascript runner, visual studio code, visual studio, intellij, ruby runner "
---

<div class="banner-container">
  <div class="container">
    <div class="banner-content">
      <h1 class="banner-heading">
        <span class="block-text">Less Code, </span>
        <span class="block-text">Less Maintenance,</span> 
        <span class="block-text">More Acceptance Testing</span>
      </h1>
      <p class="banner-description">Gauge is a free and open source test automation framework that takes the pain out of acceptance testing</p>
      
      <p class="taiko-launch">
        Gauge + Taiko = Reliable browser automation for your JavaScript tests! <a href="https://taiko.gauge.org">Learn more</a>.
      </p>
      <div class="banner-action">
        <a href="get-started/" class="cta-primary">Get Started </a>
        <%= link_to 'Documentation', "https://docs.gauge.org/#{config.docs_version}/index.html" , class:"cta-secondary"%>
      </div>
    </div>
    </div>
</div>


<main class="main-container">
  <div class="main-features" id="features">
    <div class="container">
    <!-- feature 1 -->
      <div class="feature feature-markdown"> 
        <div class="feature-content">
          <h2 class="feature-heading">Create readable and maintainable tests</h2>
          <p>Gauge tests are in <span class="markdown"></span>Markdown which makes writing and maintaining tests easier. Reuse specifications and robust refactoring to reduce duplication. Less code and readable specifications means less time spent on maintaining the test suite. </p>
        </div>
        <div class="feature-graphics">
        <img src="/assets/images/homepage/gauge_feature-markdown-specs.svg" alt="" class="screenshots">
          
      </div>
    </div> 
    </div> 
    <!-- feature 2 --> 
        <div class="main-highlight">
      <div class="container feature-tab-container">
        <div class="feature feature-tools">
          <div class="feature-content ">
            <h2 class="feature-heading">Work with languages and tools of your choice</h2>
            <p> Gauge works with multiple languages, IDEs, CI/CD tools and automation drivers. You don't have to learn a new language or tool to get your test automation tool to work for you.</p>
          </div>
          <div class="feature-graphics">
          <div class="tab-component">
            <ul class="tab tab-main">
              <li class="tab_item  active-tab" data-attr="one">Javascript</li>
              <li class="tab_item" data-attr="two">C#</li>
              <li class="tab_item" data-attr="three">Java</li>
              <li class="tab_item" data-attr="four">Python</li>
              <li class="tab_item" data-attr="five">Ruby</li>
            </ul>
            <div class="tab-content-container">
              <div class="tab-content active" id="one">
                <img src="/assets/images/homepage/gauge_feature-javascript-vscode.jpg" class="screenshots">
              </div>
              <div class="tab-content" id="two">
                <img src="/assets/images/homepage/gauge_feature-c-vs.jpg" class="screenshots">
              </div>
              <div class="tab-content" id="three">
                <img src="/assets/images/homepage/gauge_feature-java-intellij.jpg" class="screenshots">
              </div>
              <div class="tab-content" id="four">
                <img src="/assets/images/homepage/gauge_feature-python-vscode.jpg" class="screenshots">
              </div>
              <div class="tab-content" id="five">
                <img src="/assets/images/homepage/gauge_feature--ruby-vscode.jpg" class="screenshots">
              </div>
            </div>
          </div>  
          </div>
        </div>
      </div>  
    </div>
    <!-- endfeature 2 --> 
    
    <!-- tools --> 

    <div class="tools">
      <div class="container">
        <ul class="tool">
          <li>
            <figure> 
              <img src="assets/images/icons/visual_studio_code.png" alt="Visual Studio Code">
              
            </figure>
          </li>
          <li>
            <figure> 
              <img src="assets/images/icons/intellij.png" alt="IntelliJ IDEA">
              
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/visual_studio.png" alt="Microsoft Visual Studio">
            </figure>
          </li>               
          <li>
            <figure> 
              <img src="assets/images/icons/selenium.png" alt="Selenium">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/appium.png" alt="Appium">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/puppeteer.png" alt="Puppeteer" class="puppeteer">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/gocd.png" alt="GoCD" >
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/jenkins.png" alt="Jenkins">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/travis.png" alt="Travis-CI">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/teamcity.png" alt="TeamCity">
            </figure>
          </li>        
        
        </ul>
      </div>
    </div>
    <!-- endtools --> 


    <!-- feature 3 --> 
    <div class="feature">
      <div class="container">
        <ul class="small-thumbnails">
          <li class="thumbnail-small">
            <div class="thumbnail-small_graphics">
              <img src="assets/images/icons/icon_plugins.svg" alt="">
            </div>
            <div class="thumbnail-small_details">
              <h2 class="feature-heading">Extend with plugins</h2>
              <p>Gauge has a robust plugin architecture and <a href="plugins/"> plugin</a> ecosystem. You can easily extend Gauge to add support for IDEs, drivers, datasources, text execution events or your favourite programming language.</p>
            </div>
          </li>
          <li class="thumbnail-small">
            <div class="thumbnail-small_graphics">
              <img src="assets/images/icons/icon_detect.svg" alt="">
            </div>
            <div class="thumbnail-small_details">
              <h2 class="feature-heading">Quickly detect issues</h2>
              <p>Don’t waste time going through stacktraces. Gauge takes a screenshot on a test failure allowing you to get a visible picture of what went wrong. Reports are available across multiple formats (XML, JSON, HTML).</p>
            </div>
          </li>

        </ul>

        <ul class="small-thumbnails">
          <li class="thumbnail-small">
            <div class="thumbnail-small_graphics">
              <img src="assets/images/icons/icon_scale.svg" alt="">
            </div>
            <div class="thumbnail-small_details">
              <h2 class="feature-heading">Scale your tests </h2>
              <p> Save time on tedious setup for parallelization of tests on your CI/CD pipelines. With Gauge's out of the box parallelization support, speed up your tests and optimally utilize your infrastructure. </p>
            </div>
          </li>
          <li class="thumbnail-small">
            <div class="thumbnail-small_graphics">
              <img src="assets/images/icons/icon_data-sets.svg" alt="">
            </div>
            <div class="thumbnail-small_details">
              <h2 class="feature-heading">Manage your data sets better </h2>
              <p>Gauge supports data-driven testing. Keep your data sets out of your test scripts to run them repeatedly against multiple data sets. Easily test with large data sets, while keeping specifications highly readable. </p>
            </div>
          </li>
        </ul>
      </div>  
    </div>
  </div>

    <!-- endfeature 3 --> 
</main>  
<!-- get started --> 
<div class="get-started">
  <div class="container">
    <a href="get-started/" class="get-started-cta">Get Started </a>        
    <img src="/assets/images/icons/icon_launch.svg" alt="Launch Icon" class="launch-icon">
  </div>
</div>
<!-- end get started --> 
