---
title: Gauge.org
---
  <div class="banner-container">
    <div class="container">
    <div class="banner-content">
      <h1 class="banner-heading">Low Maintenance Test Automation</h1>
      <p class="banner-description">Gauge is a free and open source test automation framework that takes the pain out of acceptance testing</p>
      <div class="banner-action">
        <a href="get_started/" class="cta-primary">Get Started </a>
        <a href="#" class="cta-secondary"> Learn More </a>
      </div>
    </div>
    </div>
  </div>  

<main class="main-container">
  <div class="main-features">
    <div class="container">
    <!-- feature 1 -->
      <div class="feature feature-markdown"> 
        <div class="feature-content">
          <h2 class="feature-heading">Focus on testing, let Gauge’s readable and reusable specifications handle the rest</h2>
          <p>Gauge tests are in <span class="markdown"></span>markdown which makes writing tests easy and quick. Reuse specifications keeping your test suite as DRY as your production code. Gauge’s robust refactoring reduces duplication  and evolves your tests with your application. Less code means less time spent on maintaining the test suite. </p>
        </div>
        <div class="feature-graphics">
        <img src="/assets/images/homepage/gauge_feature-markdown-specs.svg" alt="" class="screenshots">
          
      </div>
    </div> 
    </div> 
    <!-- feature 2 --> 
        <div class="main-highlight">
      <div class="container feature-tab-container">
        <div class="feature feature-tools">
          <div class="feature-content ">
            <h2 class="feature-heading">Work with languages and tools of  your choice</h2>
            <p>You don't have to learn a new language or tool to get your test automation tool to work for you. Gauge works with:</p>
            <ul class="list">
            <li>Javascript, C#, Java, Python & Ruby</li>
            <li>IDEs like Visual Studio Code, IntelliJ IDEA, Visual Studio</li>
            <li>CI/CD tools like GoCD, Jenkins, TravisCI, Teamcity etc</li>
            <li>Automation drivers like Selenium, Puppeteer, Appium, Sahi</li>
            </ul>
          </div>
          <div class="feature-graphics">
          <div class="tab-component">
            <ul class="tab tab-main">
              <li class="tab_item  active-tab" data-attr="one">Javascript</li>
              <li class="tab_item" data-attr="two">C#</li>
              <li class="tab_item" data-attr="three">Java</li>
              <li class="tab_item" data-attr="four">Python</li>
              <li class="tab_item" data-attr="five">Ruby</li>
            </ul>
            <div class="tab-content-container">
              <div class="tab-content active" id="one">
                <img src="/assets/images/homepage/gauge_feature-javascript-vscode.jpg" class="screenshots">
              </div>
              <div class="tab-content" id="two">
                <img src="/assets/images/homepage/gauge_feature-c-vs.jpg" class="screenshots">
              </div>
              <div class="tab-content" id="three">
                <img src="/assets/images/homepage/gauge_feature-java-intellij.jpg" class="screenshots">
              </div>
              <div class="tab-content" id="four">
                <img src="/assets/images/homepage/gauge_feature-python-vscode.jpg" class="screenshots">
              </div>
              <div class="tab-content" id="five">
                <img src="/assets/images/homepage/gauge_feature--ruby-vscode.jpg" class="screenshots">
              </div>
            </div>
          </div>  
          </div>
        </div>
      </div>  
    </div>
    <!-- endfeature 2 --> 
    
    <!-- tools --> 

    <div class="tools">
      <div class="container">
        <ul class="tool">
          <li>
            <figure> 
              <img src="assets/images/icons/visual_studio_code.png" alt="">
              
            </figure>
          </li>
          <li>
            <figure> 
              <img src="assets/images/icons/intellij.png" alt="">
              
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/visual_studio.png" alt="">
            </figure>
          </li>               
          <li>
            <figure> 
              <img src="assets/images/icons/selenium.png" alt="">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/appium.png" alt="">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/puppeteer.png" alt="" class="puppeteer">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/gocd.png" alt="" >
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/jenkins.png" alt="">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/travis.png" alt="">
            </figure>
          </li>        
          <li>
            <figure> 
              <img src="assets/images/icons/teamcity.png" alt="">
            </figure>
          </li>        
        
        </ul>
      </div>
    </div>
    <!-- endtools --> 


    <!-- feature 3 --> 
    <div class="feature">
      <div class="container">
        <ul class="small-thumbnails">
          <li class="thumbnail-small">
            <div class="thumbnail-small_graphics">
              <img src="assets/images/icons/icon_plugins.svg" alt="">
            </div>
            <div class="thumbnail-small_details">
              <h3 class="feature-heading">Extend with plugins</h3>
              <p>Gauge has a robust plugin architecture and <a href="plugins/"> plugin</a> ecosystem. Gauge was built from the ground up with extensibility via plugins as a guiding principle. You can easily extend Gauge to add support for IDEs, drivers, datasources, text execution events or your favourite language.</p>
            </div>
          </li>
          <li class="thumbnail-small">
            <div class="thumbnail-small_graphics">
              <img src="assets/images/icons/icon_detect.svg" alt="">
            </div>
            <div class="thumbnail-small_details">
              <h3 class="feature-heading">Quickly detect issues</h3>
              <p>Don’t waste time going through stacktraces. Gauge’s readable and meaningful reports allow you to detect what went wrong as quickly as possible. It takes a screenshot on failure allowing you to get a visible picture of what went wrong. Reports are available across multiple formats (XML, JSON, HTML).</p>
            </div>
          </li>

        </ul>

        <ul class="small-thumbnails">
          <li class="thumbnail-small">
            <div class="thumbnail-small_graphics">
              <img src="assets/images/icons/icon_scale.svg" alt="">
            </div>
            <div class="thumbnail-small_details">
              <h3 class="feature-heading">Scale your tests </h3>
              <p>Gauge has out of the box support for running tests in parallel so you don’t have to spend time in tedious setup for parallelisation on your CI/CD pipelines. Shorten the time that it takes to run your tests while optimally utilizing the capacity of your infrastructure. </p>
            </div>
          </li>
          <li class="thumbnail-small">
            <div class="thumbnail-small_graphics">
              <img src="assets/images/icons/icon_data-sets.svg" alt="">
            </div>
            <div class="thumbnail-small_details">
              <h3 class="feature-heading">Manage your data sets better </h3>
              <p>Gauge supports data-driven testing. Keep your data sets out of your test scripts and have the flexibility of repeatedly running your tests against different data sets. Easily test with large data sets, while keeping specifications highly readable. </p>
            </div>
          </li>
        </ul>
      </div>  
    </div>
  </div>

    <!-- endfeature 3 --> 
</main>  
    <!-- get started --> 
      <div class="get-started">
        <div class="container">
          <a href="get_started/" class="get-started-cta">Get Started </a>        
          <img src="/assets/images/icons/icon_launch.svg" alt="Launch Icon" class="launch-icon">
        </div>
      </div>
    <!-- end get started --> 
