<main class="main-container container">
  <header class='page-header'>
    <h1>Styleguide</h1>
    <ul class="header_links">
        <li class="header_link__item"><a href="/styleguide/components">Components</a></li>
        <li class="header_link__item"><a href="/styleguide/layout">Layout</a></li>
    </ul>
  </header>
  <div class="tab-container tab-container-styleguide">
    <aside class="sidebar-menu sidebar-menu-plugins">
      <ul class="tab-nav">
        <li class="tab-nav_item active-tab" data-attr="color">Colors</li>
          
        <li class="tab-nav_item" data-attr="media">Media Query</li>
        
      </ul>
    </aside>

    <div class="content-container">
      <h2 class="mobile-heading open" data-attr="color">Colors<span class="expander arrow-active"></span></h2>
      <div class="tab-content active" id="color">
        <ul class="color-box">

          <li class="color-box__item">
            <p class="primary-color">#ffcc00</p>
            <p class="color-with-text">$primary-color</p>
          </li>

          <li class="color-box__item ">
            <p class="secondary-color">#1e1e1e</p>
            <p class="color-with-text">$secondary-color </p>
          </li>

          <li class="color-box__item ">
            <p class="border-color">#ccc</p>
            <p class="color-with-text">$border-color </p>
          </li>

          <li class="color-box__item">
            <p class="link-color">#333333</p>
            <p class="color-with-text">$link-color</p> 
          </li>
        </ul>
      </div>

      <h2 class="mobile-heading" data-attr="media">Media Query <span class="expander arrow"></span></h2>
      <div class="tab-content" id="media">
        <section class="page-block">
          <h3>Responsive Break Points </h3>
          <div class="code-box">
            <code>
              <pre>
                // Screen Size starting from  576px;
                  @media (min-width: $screen-sm){ ... }

                // Screen Size starting from  768px;
                    @media (min-width: $screen-md){ ... }

                // Screen Size starting from  992px;
                    @media (min-width: $screen-lg){ ... }

                -------------------------------------------

                // Screen Size starting from  1200px;
                    @media (min-width: $screen-xl){ ... }

                // Screen Size ending at  575.98px;
                  @media (max-width: $screen-sm-min){ ... }

                // Screen Size ending at  767.98px;
                  @media (max-width: $screen-md-min){ ... }

                // Screen Size ending at 991.98px;
                    @media (max-width: $screen-lg-min){ ... }

                // Screen Size ending at 1199.98px ;
                    @media (max-width: $screen-xl-min){ ... }

              </pre>
            </code>
          </div>
        </section> 
      </div>
      <%#  
      <h2 class="mobile-heading" data-attr="#">Label <span class="expander arrow"></span></h2>
      <div class="tab-content" id="#">
        
      </div> %>
    </div>
  </div>
</main>