<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>layout &ndash; Styleguide</title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="/styleguide/styles/hgt-syntax.css">
    <link rel="stylesheet" href="/styleguide/styles/hgt.css">

    <!-- Source CSS -->
    
      
        <link rel="stylesheet" href="build/assets/stylesheets/site.css">
      
    
</head>

  <body>
    <div class="hgt-pagehead">
      <div class="hgt-container">
        <nav class="hgt-pagehead-nav" role="navigation">          
          <a href="/styleguide/layout"
             class="hgt-pagehead-nav-item selected">
            Layout
          </a>
          
          <a href="/styleguide/components"
             class="hgt-pagehead-nav-item ">
            Components
          </a>
          
        </nav>

        <h1 class="hgt-pagehead-title">Styleguide</h1>
      </div>
    </div>

    <div class="hgt-styleguide container">
      <div class="tab-container">
        
          <div class="sidebar-menu">
            <nav class="hgt-menu">
              
                
                  <a href="#banner" class="hgt-menu-item">Banner</a>
                
              
                
                  <a href="#page_header" class="hgt-menu-item">Page header</a>
                
              
            </nav>
          </div>
        

        <div class="content-container">
          <div class="hgt-content">
<h1 id="banner" class="styleguide">Banner</h1>
<p class="styleguide">Style for Banner</p><div class="codeExample">
  <div class="exampleOutput">
        <div class="banner-container">
  <div class="container">
    <div class="banner-content">
      <h1 class="banner-heading">Banner Heading</h1>
      <p class="banner-description">Quis laborum minim id ipsum exercitation sit irure. Minim pariatur esse velit reprehenderit occaecat.</p>
      <div class="banner-action">
        <a href="#" class="cta-primary">Banner Action 1</a>
        <a href="#" class="cta-secondary">Banner Action 2</a>
      </div>
    </div>
    </div>
    </div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"banner-container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"banner-content"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"banner-heading"</span><span class="nt">&gt;</span>Banner Heading<span class="nt">&lt;/h1&gt;</span>
      <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"banner-description"</span><span class="nt">&gt;</span>Quis laborum minim id ipsum exercitation sit irure. Minim pariatur esse velit reprehenderit occaecat.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"banner-action"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"cta-primary"</span><span class="nt">&gt;</span>Banner Action 1<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"cta-secondary"</span><span class="nt">&gt;</span>Banner Action 2<span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="page_header" class="styleguide">Page header</h1>
<p class="styleguide">Style for Page Header</p><div class="codeExample">
  <div class="exampleOutput">
        <header class='page-header'>
        <h1>Page Header</h1>
    </header>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">'page-header'</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h1&gt;</span>Page Header<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;/header&gt;</span></pre>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="scripts/vendor/jquery.waypoints.min.js"></script>
  <script src="scripts/vendor/sticky.min.js"></script>
  <script src="scripts/vendor/infinite.min.js"></script>
  <script src="scripts/hgt.js"></script>

  
    
      <script type="text/javascript" src="build/assets/javascripts/site.js"></script>
    
  

  
</body>
</html>
