---
layout: error
title: "404 | Gauge"
title_tag_of_header: "404 | Gauge"

meta_description: "Gauge - open source test automation framework - for free. Get started with a single command."
meta_keywords: "Gauge, test automation, free and open source, download, get started"
---
<main class="main-container container">
  <div class="container">

<div class="notfound_container">
 <a href="/" class="gauge_logo">Gauge</a>
<span class="not-found">Page not found</span>

<p class="message">The link you clicked may be broken or the page may have been removed.</p>
<p class="links">Visit <a href="/">Homepage</a></p>
</div>

  </div>
</main>